[2019-08-30 12:01] vcapretz opened #2 "Add integration tests"
Integration tests, a suggestion is to use [Dockest](https://github.com/erikengervall/dockest) to spin up a redis instance so it would be possible to add/remove jobs in queues and test the code

[2019-08-30 12:04] vcapretz opened #3 "Add option to clean jobs"
We can start with a button to clean all the jobs in the delayed status, can probably be expanded to all the statuses

[2019-08-30 12:06] vcapretz opened #4 "Add pipeline for CI"
Explore Azure Pipelines.
Otherwise, a suggestion would be using Travis

[2019-08-30 12:13] vcapretz opened #5 "Add changelog"
Ref.: https://keepachangelog.com/en/1.0.0/

[2019-08-30 19:21] joaomilho opened #6 "Font in <pre>s is not monospaced"
<img width="275" alt="Screenshot 2019-08-30 at 21 20 05" src="https://user-images.githubusercontent.com/308196/64046373-027a8080-cb6c-11e9-881b-f3d14154c487.png">

Seems to me there's some issue with the CSS for the `pre` blocks where the monospace font is not properly applied.

[2019-09-02 11:51] erikengervall commented on #2
#7 was the first step including the introduction of jest & dockest

[2019-09-02 12:08] erikengervall opened #8 "Consider migrating to Typescript"
A migration from JS to TS would mean type exposure, which is nice.

[2019-09-02 12:20] vcapretz opened #9 "Bull could be an external dependency instead of being provided by bull-board"
This would be a breaking change, basically removing the `createQueues` method and instead of keeping track of the queues internally, we would rather accept queues as a parameter (probably to `UI` or a config method).

Major benefit would be that users have more control on how to use Bull on their own and maybe even supporting integration with other libs

[2019-09-02 12:21] erikengervall commented on #9
Tbh you shouldn't discard existing behaviour too easily. Consider simply extending it by giving the user the _option_ to provide queues themselves :)

[2019-09-02 15:08] #6 closed

[2019-09-08 20:03] daksamit opened #12 "Board page is not working"
Before i've used to bull-arena package.
When i tried to use bull-board, nothing happens.
With no queues i have "no stats to display" page, but if I add some existing queue like
[code]
And I try to use it, there is empty white page on '/admin/queues' and I have following errors in browser's console

[code]

![image](https://user-images.githubusercontent.com/7165997/64493671-33049d80-d283-11e9-9055-

[2019-09-09 15:24] vcapretz commented on #12
Hey @daksamit thanks for reporting the issue!

are you trying to create queues directly from Bull? that's not supported for now so you have to create the queues with the `createQueues` method, and then use then (at this point the API will be exactly as in Bull, since we don't modify it)

so a minimal code example would be something like:
[code]

I'll look into the bug tho, if you have queue data t

[2019-09-09 17:59] daksamit commented on #12
Yes, queues was created directly with bull, but I replaced it with `{ createQueues }` for compatibility.
(Sorry, I misstyped in my comment, I used bull-board api)
If I tried with only one queue to create using your api, error occurs anyway.
Maybe somewhere I have unnecessary configs in my app. but I decided to create issue, maybe it's a bug :)

[2019-09-11 21:15] sjsn commented on #12
I was getting this bug too. For me the cause was that I'm using Heroku's redis-cloud add-on which does not expose `total_system_memory`.

So in the [`RedisStats.js`](https://github.com/vcapretz/bull-board/blob/master/ui/components/RedisStats.js#L50) component, line 50 fails since `formatBytes(parseInt(undefined))` fails.

[2019-09-12 12:10] vcapretz opened #15 "Finish eslint setup"
eslint was set up with the minimal requirements for prettier, but it still doesn't have any rules.

we could at least have `eslint:recommended` in the `extends` list and make it work with both React and Node env (routes/ and ui/ folders)

[2019-09-13 14:42] alexleroyross commented on #3
Hello!  I am a college student, and I am working with some classmates to try to contribute to an open source project within the next couple weeks.  Would it be all right if we tried to implement this?  I've forked this repo, and we are ready to work on it.

I just had a quick question.  When you say to "clean" delayed jobs, do you just mean you want them removed from the queue?  Or do you want the

[2019-09-19 04:28] kulakowka opened #16 "Problem with white-space in <pre>"
Hello!

Thank you very much for the work done.
Your UI looks great.
But I have a problem with CSS.

<img width="1552" alt="Screen Shot 2019-09-19 at 7 24 11 AM" src="https://user-images.githubusercontent.com/557190/65213395-ae99f200-daae-11e9-8269-99c05fb42c53.png">

This can probably be solved with:

[code]

[2019-09-19 14:51] sephirothmk opened #17 "Request: Job progress count instead of percentage"
Hello.

First of all, thank you for making a nice and clean interface for bull. I use it in my project that syncs data between databases. I do the work using batches, so I never know the max value of things that need processing in order to calculate the percentage. So if i do `job.progress(item.count)` where item.count is for example 4235 items, the frontend interface will go crazy because the gre

[2019-09-23 15:13] vcapretz commented on #16
hey @kulakowka, thanks for the feedback 👍

Did you accidentally close the issue or is it something that solved itself in the last version?

We changed the library to prettify error stack traces recently so that might be something that still needs improvement

[2019-09-23 15:47] vcapretz commented on #17
hey @sephirothmk, thank you for reporting the issue, I do see the problem 😅

the docs for bull specify the progress to be a number between 0 and 100 as such: https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#jobprogress

So I wonder if in this case there's something that should be done application wise, instead of in bull-board

I actually noticed we handle cases when `progress` is an

[2019-09-24 08:09] #3 closed

[2019-09-24 21:01] erikengervall commented on #4
Highly recommend https://github.com/features/actions!

[2019-09-25 09:49] #16 closed

[2019-09-25 09:52] vcapretz commented on #4
Will explore GitHub actions, that might be enough for the use cases we need, thanks!

[2019-09-26 13:46] celiolatorraca opened #22 "Feature request: Add time for delayed show"
It would be nice to have detailed under the `Delayed` jobs the information for when it's going to run again, if Bull can provide it

Also, very nice lib 😄

[2019-10-01 08:35] #17 closed

[2019-10-04 13:27] alexleroyross commented on #22
I believe I've added this feature.  I'll put up a PR!

[2019-10-04 15:40] edy opened #24 "Add a Button to clear failed jobs"
There are alredy two retry buttons. It would be nice to have some buttons to clean up all failed jobs and single jobs.

[2019-10-05 09:45] vcapretz commented on #24
hey @edy thank's for the issue!

we already added a clean option for the delayed queue to start trying it out, I think it can be added to the failed one as well.
My only concern here would be how the UI would look like with a lot of buttons per job, so I might try it out and open a PR!

(feel free to also send PR's here if you feel like it 👍)

[2019-10-05 14:15] #22 closed

[2019-10-09 07:37] kokarn opened #26 "Help setting up first time"
Hello!

Love the screenshot look and tried setting this up for a redis hosted on Heroku.

It's very hard because there are no error messages anywhere and the documentation seems incomplete.

How do I know if my credentials are correct?
How do I specify queues?
When it "fails" it just ends up pending forever and then fails with MaxRetries, is that intended?

After reading around this is what I ende

[2019-10-09 11:39] tsujp opened #27 "Dead dependency, three high security risks"
bull-board currently uses `vorpal` as a dependency, which was last updated in August of 2018.

There are three high-risk security vulnerabilities in a dependency of vorpal relating to lodash which were fixed in 2017, see them using `npm audit`

Path for all, `bull-repl > vorpal > inquirer > lodash`

* https://npmjs.com/advisories/577
* https://npmjs.com/advisories/782
* https://npmjs.com/advisorie

[2019-10-09 12:04] vcapretz commented on #27
hey @tsujp thank you for opening this issue!

bull-board currently does not use `vorpal` nor provides a CLI for using Bull, we provide a UI for that instead

maybe you've opened this issue in the wrong repo?
it seems you're referring to https://github.com/darky/bull-repl instead!

if that was not what you meant please let me know 😄

[2019-10-09 12:19] vcapretz commented on #26
hey @kokarn thank's for the feedback regarding the screenshot and for being willing to try out the lib 😄

A successful connection would return the data you have in your redis instance such as all the queues, their jobs and some information about memory usage

By doing:
[code]
you successfully create a queue, but if you don' t return the instance for the created queue you won't be able to add jobs

[2019-10-09 12:30] kokarn commented on #26
I actually managed to get it working, so will probably submit some docs updates for what I needed :)

The `queues.add` part was not in the docs for just using the UI as one example.

Agreed that the silent throw was not the most optimal way.
Just try to very early make sure that you have all the credentials needed and maybe that you can connect?

[2019-10-09 12:48] tsujp commented on #27
OH MY. This is embarrassing.. sorry about that :(

Kinda of funny though.. I even pasted from the terminal and forgot to double check the name yikes.

[2019-10-09 12:48] #27 closed

[2019-10-09 13:15] vcapretz commented on #26
yep! also maybe catching the creation of queues and provide an error state in the UI about what went wrong!

feel free to send the PR's! thanks for that ❤️

[2019-10-13 15:46] ltjin opened #29 "How to use it in koa2?"
I want to use it in an application built by koa2，but I don't get it.
my code like:
[code]
This is from [Can we mount express app into koa?](https://github.com/koajs/koa/issues/622)

[2019-10-13 17:18] vcapretz commented on #9
probably addressed in #28

[2019-10-13 17:21] vcapretz commented on #29
hey @ltjin! thank's for the issue!

I didn't really consider this possibility 😅so maybe there are some gotchas on how would this be setup.
I'll try to reproduce your code in a small app and let you know what I find out!

[2019-10-17 00:25] brianschardt opened #32 "It doesnt show the job name"
Board shows the data, but not the job name, can we get it to show this?

[2019-10-21 17:07] mintuhouse opened #33 "Doesn't work when used with Redis.Cluster"
`GET /queues`
returns
`{"status":500,"message":"Cannot use 'in' operator to search for 'redis_version' in undefined"}`

when I return `new Redis.Cluster(...)` in `createClient` while creating `Bull.Queue`

[2019-10-31 13:03] abdolrhman opened #36 "progress bar not working ?"
Hey, thanks for this great dashboard,
i am not sure, but after a job finishes , the progress bar doesnt go to 100% it gust go to finished tab,
but the percentege progress still 0,

also this is my code :-

`myFirstQueue.add('normal', {
  name: 'Hello',
});`

`
  myFirstQueue.process('normal', (job, done) => {
    for (let i=0;i<=1000;i++){
      file.write('Lorem ipsum dolor sit amet, consectetur

[2019-11-03 07:48] abdolrhman opened #37 "is there a pagination ?"
does all the orders appears in one page, no pagaination ?
i could implement one if no any

[2019-11-04 07:53] vcapretz commented on #37
hey @abdolrhman! thanks for opening the issue!

we don't have pagination yet 😅 if you have some time to implement it please feel free to do so! let me know if you need some help

[2019-11-04 08:05] abdolrhman commented on #37
Thanks buddy,
I will give it a shot,
This package did really helped me alot,
Would be also great if u could helped me to contribute in this great thing :))

[2019-11-04 10:33] vcapretz commented on #37
glad that this has helped you! 🤩

you can open a PR starting the changes and we can iterate on that! the UI part would be trickier than allowing pagination on the API itself, so I would say starting from the back-end could be easier!

[2019-11-05 12:40] abdolrhman commented on #37
i am trying to do it from the front end, by adding
`  const [currnetPage, setCurrentPage] = useState(1);

  const [jobsPerPage, setJobsPerPage] = useState(10);`

in useStore file,
so that for each click i set a new current page and jobs for that page,
but this requires me to change a little bit in the cycle that is already exist,,

[2019-11-05 12:41] abdolrhman commented on #37
also i have a poor knowledege in React or in front-end in general, but am trying my best :)

[2019-11-06 01:37] arkhamRejek opened #38 "support for Bull 4"
are you guys planning on supporting BullMQ 4 ?

[2019-11-10 13:19] vcapretz commented on #38
hey @arkhamRejek, thanks for bringing this up!

for sure we can look into supporting BullMQ 4. We would need to come up with the best way to do it, either by just bumping bull-board with a major changing or some other API's, if you have any suggestions please feel free to open a PR 😄

[2019-11-10 13:24] vcapretz commented on #36
hey @abdolrhman thank's for the feedback!

Please refer to Bull's docs: [here](https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#jobprogress) and [here](https://optimalbits.github.io/bull/) (Consumer section) for more information on how to track progress in a job!

Note that the progress report is for each job, not in the queue itself, the logic on how often you want to report the prog

[2019-11-10 13:25] vcapretz commented on #33
hey @mintuhouse, thank's for opening this issue!

can you provide some more details? Like the node and redis versions you are using? As soon as I get those I can try to reproduce the issue and work on a fix!

[2019-11-10 13:32] vcapretz commented on #37
hey @abdolrhman, sorry for the late response!

Regarding the pagination, the two states you mentioned look like a nice start!
We would then pass their values to the `update` method so we can read the new query parameters in the route and use then in the `getDataForQeues.js` file.
Let me know if I can help with anything else 😄

[2019-11-10 14:27] arkhamRejek commented on #38
i'll take a look at their api later on today, someone mentioned that the api was pretty similar to Version 3 so i'll look at this source and get back to you. Great work btw, very beautiful UI.

[2019-11-10 17:10] #36 closed

[2019-11-10 17:11] abdolrhman commented on #36
totally my bad 💯

[2019-11-12 07:07] mintuhouse commented on #33
Redis 5.0.6 - elasticache cluster
NodeJS 12.13.0

Let me know if you need anything else

[2019-11-19 14:28] abdolrhman opened #40 "two queues or more reflect UI ?"
if i added more than one queue would the UI create another tabes for the new queue,
ar all queues insert in the same tabs ?

[2019-11-19 14:34] abdolrhman commented on #40
it does, but you had to change, the string that you given to constractor of the queue :/

[2019-11-19 14:34] #40 closed

[2019-12-03 15:26] alubbe commented on #38
We're also wanting to upgrade to bull 4 (see https://github.com/bee-queue/arena/issues/199), so if it's helpful we wanted to share that I reached out to Manuel from taskforce.sh and he told me that
- it should not be very difficult to add support (for bull 4) since it provides a backwards compatibility class that implement most of the old API
- no more breaking changes (to bull 4) are planned, onl

[2019-12-03 21:12] arkhamRejek commented on #38
@alubbe i played around with it a few just been too busy to sit, i hacked together some stuff but hopefully over the christmas break i'll look and see if i can create a pull if someone doesn't beat me to it

[2019-12-03 21:42] arkhamRejek commented on #38
@alubbe i played around with it a few just been too busy to sit, i hacked together some stuff but hopefully over the christmas break i'll look and see if i can create a pull if someone doesn't beat me to it. kind of hard to get a good read on it as well since the tests are kind of vague as well

[2019-12-03 21:51] arkhamRejek commented on #38
also the only exception thus far that i'm getting is at gets stats
which is an easy fix since info seems to have been deprecated.
[code]

@vcapretz going to need your help on that
after
[code]

[2019-12-04 20:51] humphd opened #41 "The completed and failed counts don't seem to reflect queue status"
We're using Bull Board on a project, and it's been really helpful to visualize what's happening in our queue.  However, we're finding that the `completed` and `failed` counts don't seem to reflect the current status of the queue.  Our code gets all kinds of `completed` and `failed` events, which we use to drive our app.  But we see nothing in the UI:

<img width="1161" alt="Screen Shot 2019-12-04

[2019-12-05 13:56] vcapretz commented on #41
Hey @humphd, thanks for opening the issue and for using bull-board 😄

can you provide some information like the node, redis and bull versions you are using? it does seem odd that the completed and failed events are not being reported while they should be, I'll try to take a look as soon as I can 👍

[2019-12-05 13:57] #9 closed

[2019-12-05 14:08] vcapretz commented on #24
fixed in #39

[2019-12-05 14:09] #24 closed

[2019-12-05 23:50] humphd commented on #41
- node: v12.13.1
- Bull: 3.12.1
- redis: 5.0.6 (macOS, build=7a57e483d6f8b275)

[2019-12-06 21:35] Heartz66 opened #43 "Cannot read property 'id' of null"
Reported by sentry, I'm not sure on which specific conditions this happens:

`TypeError: Cannot read property 'id' of null
  File "/usr/src/app/node_modules/bull-board/routes/getDataForQeues.js", line 24, col 13, in formatJob
    id: job.id,
  ?, in Array.map
  File "/usr/src/app/node_modules/bull-board/routes/getDataForQeues.js", line 67, col 20, in null.<anonymous>
    jobs: jobs.map(formatJob),

[2019-12-11 10:28] roparz commented on #29
Hi,

This worked for me, with Koa router:

[code]

[2019-12-11 10:58] ltjin commented on #29
@roparz yes, that's right.
I also found a way：
[code]
and **bull-board/index.js**
[code]
This way makes intrusive changes to the source code, I'm not sure if I should submit a PR

[2019-12-11 11:08] roparz commented on #29
You make me point out that my solution only works on GET requests...

[2019-12-11 11:18] ltjin commented on #29
The core of this problem is that the request link forwarded by Koa does not have a corresponding route in the expressAPP inside the bull-board.
So it is key for the bull-board to recognize all the forwarded routes.

[2019-12-11 11:21] vcapretz commented on #29
Hey folks, nice that you took the time to think about a solution, I really appreciate it since I didn’t have the time to look into it so far 😅

Please feel free to open a PR, I’ll review it properly and as long as we don’t introduce breaking changes I guess it's fine 👍

[2019-12-13 08:32] JonDum opened #45 "Standalone version"
I was really excited about this project when I saw it, but I had trouble getting it to work. We have Bull queues running in production in a Docker Swarm with dozens of Fastify worker containers and several different redis endpoints. I tried using `fastify.use()` but it's not compatible I don't think.

But this kinda sucks anyways — we would have to embed the bull-board and all its dependencies (ex

[2019-12-13 09:25] JonDum commented on #45
Ok, so this was actually surprisingly easy.

Check out

https://github.com/JonDum/bull-board/blob/master/standalone.js

[2019-12-13 09:54] JonDum commented on #45
Now there's a docker image:

`docker run --rm -p 3000 jondum/bull-board:latest`

[2020-01-06 13:28] ariusxi opened #47 "Bullboard is not showing"
I was trying to run bullboard with Apollo Server, but somehow is not showing anymore the dashboard, when i try to access the is returning this to me.

![Captura de tela de 2020-01-06 09-57-03](https://user-images.githubusercontent.com/15126865/71820745-d5d0fb00-306e-11ea-9a55-510c12ef7a20.png)

I was starting the bullboard with a middleware and adding the queue with this code, after i debug aparen

[2020-01-06 20:02] ex7r3me commented on #47
Hey @ariusxi
I've made a basic project with apollo and it seems they work fine together, maybe it has a conflict with other middleware something like this. here is the sample code:
https://github.com/ex7r3me/apollo-bullboard-sample
can you share your project or sample code, or are there any logs in the server? you can check the network tab in chrome too, maybe it's trying to fetch a wrong resource

[2020-01-07 15:47] Heartz66 opened #48 "cluster setup"
I'm using bull-board in a cluster setup and whenever it pulls for new data, the page will become completely empty probably due to different data returned from the workers.

[2020-01-07 21:21] ariusxi commented on #47
@ex7r3me thanks for the example, i'll try it

[2020-01-07 21:21] #47 closed

[2020-01-18 17:11] vcapretz commented on #32
hey @brianschardt! thank's for the suggestion 😁

I was going over some issues I didn't have time to take a look at an realized that now this is actually being done in #49!

[2020-01-18 17:13] vcapretz commented on #45
hey @JonDum! that's really cool!

I think this is a great addition to the project, would you mind sending a PR so we can add it here? or do you plan on maintaining your own version of the project?

also, how would the process of updating the docker image work?

thank you for taking the time to look into it and proposing a suggestion

[2020-01-20 10:21] #32 closed

[2020-01-20 10:21] #38 closed

[2020-01-20 21:26] seawatts opened #52 "BullMQ (4) delayed tab broken"
When creating a job with the following properties

[code]

Then clicking on the `delayed` tab in the UI I get the following error
[code]

[2020-01-21 17:45] #8 closed

[2020-01-21 17:45] #15 closed

[2020-01-21 17:45] #26 closed

[2020-01-21 17:49] #4 closed

[2020-01-21 19:13] kokarn commented on #26
Looking great! Thanks for fixing this, sorry I never got around to it.

[2020-01-21 20:21] erikengervall opened #56 "Add trivial unit tests"

[2020-01-21 20:22] erikengervall opened #57 "Create a website for documentation"
A website will allow for a more structured way of showing documentation

[2020-01-21 20:27] vcapretz commented on #26
Let us know if there are more things we can improve! We are now introducing a proper webpage with docs so we can expand it even more 😁

[2020-01-21 20:59] erikengervall opened #58 "Create issue templates"

[2020-01-22 09:05] qiufeihai opened #59 "how to use with eggjs"

[2020-01-22 09:13] #5 closed

[2020-01-22 09:13] #56 closed

[2020-01-22 09:13] #57 closed

[2020-01-22 09:13] #58 closed

[2020-01-22 09:36] erikengervall commented on #59
There's no explicit support for eggjs and it's not on the roadmap currently.

If it's something you'd like to see, feel free to send a PR or we can have a conversation here with suggestions on how to go about it :)

[2020-01-24 15:18] matthiasfeist commented on #37
I think pagination would be super important! especially for larger queues!

[2020-01-26 22:05] arkhamRejek opened #65 "bull-board(v1.0.0-alpha.0) getting errors while testing the alpha, might be doing something wrong?"
[code]

trace:
`
 at Function.render (/Users/dev/platform/node_modules/express/lib/application.js:580:17)
    at ServerResponse.render (/Users/dev/platform/node_modules/express/lib/response.js:1012:7)
    at exports.entryPoint (/Users/dev/platform/node_modules/bull-board/src/routes/index.ts:8:7)
    at Layer.handle [as handle_request] (/Users/dev/platform/node_modules/express/lib/router/layer.js:9

[2020-01-31 08:37] tombh commented on #45
PR submitted #66

[2020-02-03 08:41] erikengervall opened #67 "Make pipeline run on PRs from forks"
Pipeline doesn't run on forked PRs.

[Solution](https://github.community/t5/GitHub-Actions/PR-from-fork-does-not-show-actions-even-though-actions-start-on/td-p/39895#)

[2020-02-03 15:27] GarciaSiego opened #68 "Extend the failed message in the ui."
Currently the Bull-board is not providing the needed info.

For example when a job fails we retry it X amount of times depending on the endpoint and this returns `‘job stalled more than allowable limit’` when it fails. Before in Kueue this would give the data object which contained the reason for failing.

Currently it's only possible to see the complete message by calling `‘jobs/failed/retrieve/0

[2020-02-03 22:49] philefstat commented on #65
Along with a similar trace I'm getting the error message `Error: Failed to lookup view "index" in views directory ...`

[2020-02-04 12:58] #67 closed

[2020-02-08 13:20] Yurickh opened #70 "Use types for `redis-info` from DefinetilyTyped instead of manually declaring them"
## Context
We're currently declaring the types for `redis-info` manually at `src/declarations.d.ts`, but recently we've got access to more complete types through the `@types/redis-info` package.

## Proposal
We should change to use the types in DefinetilyTyped and update some of the types we declare locally to be defined in terms of them.

[2020-02-12 00:34] gebrits opened #72 "How to show different data-field in the 'completed' tab"
As part of monitoring I'd love to see results of individual jobs. I imagine this must be possible by somehow altering what is shown in the data-field as part of the 'completed' tab.

How would I instruct bull to show custom data?

for ref:

![Screenshot 2020-02-12 at 01 31 56](https://user-images.githubusercontent.com/393259/74292202-bdbc5d80-4d37-11ea-81c7-da889963dced.png)

[2020-02-13 01:31] jamesholcomb commented on #65
Same error as @philefstat { Error: Failed to lookup view "index" in views directory "/Users/jamesholcomb/code/myapp/node_modules/bull-board/dist/../src/ui"

[2020-02-13 06:42] vcapretz commented on #65
Hey folks! Thank you for testing the alpha, sorry for the bugs tho 😅
Is it still happening in the v1.0.0-alpha.1 version?

[2020-02-13 16:35] jamesholcomb commented on #65
v1.0.0-alpha.0

[2020-02-13 20:42] arkhamRejek commented on #65
same issues with v1.0.0-alpha.1

[2020-02-21 12:39] tanimasarkhel opened #78 "Is it possible to export the details of all the jobs that has been processed in the queue in an excel file from bull-board?"

[2020-02-21 13:42] O1lpunch3r commented on #68
Yeah, i would be nice to see job-data and job-options in failed tab.

[2020-02-25 10:24] #52 closed

[2020-02-28 16:21] Deadly0 commented on #65
It is possible to use bull-board with bullmq right now? Have the same issue with alpha1. Is the stable version works with bullmq?

[2020-02-29 16:36] #2 closed

[2020-02-29 16:38] vcapretz commented on #78
Hey, currently we are not supporting the option to export any data from bull-board and it's not really in our plans for now 😅

[2020-02-29 16:38] #78 closed

[2020-02-29 16:41] vcapretz commented on #65
we are going to take a look at why is this problem happening and make another alpha version available! sorry for the delay 😄

@Deadly0 the latest stable 0.6 does not support bullmq unfortunately 👍

[2020-02-29 16:41] #59 closed

[2020-03-03 16:23] luastoned commented on #65
`Error: Failed to lookup view "index" in views directory "/usr/src/app/node_modules/bull-board/dist/../src/ui"` seems like something isn't getting compiled properly, hence the `.../src`

[2020-03-06 04:58] hieptuanle commented on #65
The problem is that the `index.ejs` file from `/src/ui/index.ejs` is not copied to the `dist` folder when the package was built.

Create a duplicate of this file https://github.com/vcapretz/bull-board/blob/master/src/ui/index.ejs in `/dist/ui` should fix the problem.

[2020-03-08 22:07] #70 closed

[2020-03-08 22:13] vcapretz commented on #65
Hey folks, sorry if I take too long to review/comment in the issues 😓

btw, I just released `v1.0.0-alpha.5`, for what I could test it works now!

let me know if this particular bug is solved and if you find any others please start new threads 😄

[2020-03-08 22:15] vcapretz commented on #43
hey @Heartz66, we have been working on a 1.0 launch now and everything is typed, this looks like a classical bug with possible undefined values that are avoided by TypeScript 😅

so I'll close this one for now, if you wanna test the alphas feel free to do so and report any bugs!

if your problem keeps happening after 1.0 please comment here and I can reopen the issue!

[2020-03-08 22:15] #43 closed

[2020-03-08 22:17] vcapretz commented on #48
duplicate with #33 maybe?

[2020-03-08 22:17] #48 closed

[2020-03-08 22:18] vcapretz commented on #33
tbh I didn't look into support a cluster setup nor how would that look like, I might need help on this one

we have been using without clusters and it works fine, maybe there are unknown caveats. 😄

[2020-03-08 23:16] Heartz66 commented on #33
A possible scenario I have been thinking of:
worker #1 registers queue to bull-board, but worker #2 hasn't seen the queue yet so it's not registered. reaching bull-board, served by worker #1, once it updates it might reach worker #2 for an update which doesn't know the queue it would like to update in the frontend

[2020-03-09 22:20] Imbuedhush opened #84 "Closing of Queue isn't handled"
Hello
If you will try to setQueue(bullInstance) to the board and then bullInstance.close() => it will produce error "Error: Connection is closed.", please make it just removing it from dashboard

[2020-03-09 22:42] Imbuedhush commented on #84
here is completed code for removing of queue from dashboard
Not sure i can ask a pull request
  removeQueues: (bullQueues) => {
    if (!Array.isArray(bullQueues)) {
      bullQueues = [bullQueues];
    }

    bullQueues.forEach((item) => {
      delete queues[item.name]
    })

    return queues
  }

[2020-03-12 23:11] gabrielstuff commented on #72
hello, was on the same page as you. Trying to look at how to show the result.

[2020-03-13 12:32] vcapretz commented on #84
hey @Imbuedhush 👋

thanks for opening the issue with the code suggestion! I think this is a valid API for us to add, so if you want to please feel free to open a PR 😄

cc @erikengervall let me know if you have any concerns regarding this

[2020-03-13 12:33] vcapretz commented on #72
hey, I can look into this implementing this feature! thanks for the suggestion!

[2020-03-16 18:09] AgentSource opened #85 "1.0.0-alpha.5 Missing Dependencies"
Testing out 1.0.0-alpha.5...

**Current package version**
- Bull => 3.13.0
- BullMQ => Not installed

**Steps Taken**

1.`npm i bull-board@1.0.0-alpha.5`
2. `tsc -p project_src`

However tsc fails and I get the error below

`node_modules/bull-board/dist/index.d.ts:2:34 - error TS2307: Cannot find module 'bullmq'.
2 import { Queue as QueueMq } from 'bullmq';`

`node_modules/bull-board/dist/index.d.

[2020-03-17 21:06] george-norris-salesforce opened #86 "Access to returned value?"
Is the object / value that is returned by the consumer available in the dashboard? I'm seeing the object that is _passed_ to the consumer, and the options — but I don't actually see the value that is returned.

[2020-03-17 21:51] vcapretz commented on #86
Perks of not keeping the docs updated 😅

We are currently working on a 1.0 release and if you’re looking to master you’re gonna see a lot of new things we introduced, such as this one you mentioned.

The very first version of bull-board worked by essentially creating the queues for you, so it returned their values to make it possible further usage in your application.

Then we introduced a new way

[2020-03-17 21:54] vcapretz commented on #85
Thanks for reporting it!

We have this bug now because of we need the types coming from bullmq and Bull at the same time, to be honest I’m not sure how to solve it but I will take a look ☺️

[2020-03-18 01:46] george-norris-salesforce commented on #86
Excellent. Thank you! :)

[2020-03-18 01:46] #86 closed

[2020-03-19 18:09] Yurickh commented on #85
`Omit` was introduced in [typescript v3.5](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-5.html#the-omit-helper-type).
Be sure to check if your version of typescript satisfies it.

I'd also recommend adding a section on the readme regarding which ts versions are supported, @vcapretz.

[2020-03-19 18:58] #85 closed

[2020-03-20 13:16] WichardRiezebos opened #90 "Show output of completed job"
Is it possible to add the result (json) of a completed job into the dashboard to see what the output was?

[2020-03-23 12:07] Juanperezc commented on #68
I think it would be very helpful

[2020-03-24 21:37] vlada79 opened #91 "CSP restrictions broke bull-board UI"
Due to CSP browser restrictions UI is not working any more in Chrome/FF. Please use window.location.pathname instead of passing basePath via `window` object (this would allow us to skip inlined <script> tag).

[2020-03-24 21:39] vlada79 commented on #91
Here is the exact error message I got:

[2020-03-25 17:43] gabrielstuff commented on #72
hello @vcapretz I'm starting to use bull-board for a futur project and I'd like to be able to see this.
Can we help in any ways to help with that ?

Thanks

[2020-03-27 15:43] gabeMoreira opened #92 "Reciveing loading screen when i try to manage my queues"
Hi, I'm trying to test bull-board but using the example but I'm getting a screen with:

and not bull-board management screen:
Is the same as the example
[code]
And later

[code]

Someone knows what is happening?

[2020-03-27 15:50] vcapretz commented on #65
closing for now, please open new issues if you find any other problems 😄

[2020-03-27 15:50] #65 closed

[2020-03-27 15:57] vcapretz commented on #84
hey, @Imbuedhush 👋

we have PR #88 now that introduces a method to replace the queues, so you would send only the ones you want to keep in the dashboard, would that suffice the needs for you? if so I'll go ahead and close this issue as soon as that PR is merged 😄

thanks!

[2020-03-27 16:00] vcapretz commented on #72
hey @gabrielstuff, sorry for the late reply, is your issue similar to #68?

I'm looking into that now because apparently to get more data we need a separate call, so I wondering if I should just go ahead and do it for every job or make it on a need to fetch basis, like a button requesting it or something.

[2020-03-27 16:07] vcapretz commented on #68
hey, I might do it!

Just want to be clear: 😅
what is needed is that the `failed` tab also shows the `data` field right? so you get access to the job's original data

[2020-03-27 16:12] vcapretz commented on #72
btw, we changed things quite a bit in the alpha versions we have now, so hopefully, it's easier to contribute to the repo too 😄

for new fields to be shown what needs to be done is:
- add it in the `src/ui/components/constants.ts` file
- describe how it looks like in `src/ui/components/Job.tsx`
- fix typings that might break
- profit?

[2020-03-27 16:26] vcapretz commented on #90
hey @WichardRiezebos, thanks for opening the issue 👋

this is possibly duplicate to #72 so I'll close your issue!

(currently, it's not possible but I'm looking into making this available)

[2020-03-27 16:26] #90 closed

[2020-03-27 16:29] vcapretz commented on #92
hey @gabeMoreira, thanks for giving bull-board a try 😄

We are currently working on a v1 release that's in alpha, one of the breaking changes is that we are no longer going to support `createQueues`, so if you look at the current example.ts file you will see a newer way of doing it using `setQueues` when you already have created your queues separately using Bull.

[2020-03-27 16:48] O1lpunch3r commented on #68
Exactly :)

[2020-03-27 16:54] #68 closed

[2020-03-27 16:56] vcapretz commented on #68
done and release in v1.0.0-alpha.6 😄

[2020-03-27 17:48] gabeMoreira commented on #92
In my project I basically do this
[code]
And to set a queue in dashbord
[code]

But the loading screen still appears, i'm doing correctly?

[2020-03-27 19:20] Imbuedhush commented on #84
yes, it's fine
thank you

[2020-03-27 19:20] #84 closed

[2020-03-31 13:13] gabeMoreira commented on #92
It's working fine now, I was trying to call bull-board before my authorization middleware.

[2020-03-31 13:13] #92 closed

[2020-04-06 14:50] mtavano opened #94 "Module documentation"
Hey folks! first of all, I hope to all of you having a good and stay healthy time on this covid-19 hard times.

I don't know if this could be considered as an issue but I was reading the source code and found that there a few extra definitions that are missing on the README

[code]
so want to ask if there is an official doc or something to understand what are those routes and which role are playin

[2020-04-10 14:04] piby180 opened #95 "Integration with NestJS"
How can we integrate the UI to nestjs project where queues are alreay created and maanged by @nest/bull package?

[2020-04-15 16:04] iam4x commented on #95
Hi @piby180

This is how you integrate with nestjs:

* https://github.com/iam4x/bobarr/blob/master/packages/api/src/main.ts#L11
* https://github.com/iam4x/bobarr/blob/master/packages/api/src/modules/jobs/jobs.service.ts#L32-L39

You add bull-board directly to the express app returned from nestjs and register your queues in one service where you inject all the queues you want to visualize.

[2020-04-17 09:39] piby180 commented on #95
Thanks a lot :)

[2020-04-17 10:40] #95 closed

[2020-04-20 17:54] ariusxi opened #96 "For some reason bull-board doesn't render"
I'm trying to run bullboard but he just returning me a blank page with HTML code and i dunno how to solved it, can you guys help me:
![image](https://user-images.githubusercontent.com/15126865/79782906-2d416100-8316-11ea-80ca-144c17fff0ef.png)

This is the code i'm trying to run:

[code]

[code]

[code]

[code]

Node version: 12.16.1
NPM Version: 6.13.7

[2020-04-21 11:04] vcapretz commented on #96
in this line `app.use(bullboard)` can you try calling the method instead?
like so `app.use(bullboard())`

[2020-04-21 11:06] vcapretz commented on #96
hey @ariusxi, thanks for opening the issue!

when you declare the bull-board middleware you have to pass in the route you want it to render, like so:
`app.use('/some/route', bullboard)`

let me know if that works 😄

[2020-04-21 15:53] ariusxi commented on #96
@vcapretz I already tried but for some reason returns me the same thing, i declare the route
[code]

[2020-04-23 14:58] HugoHeneault opened #97 "See job logs"
Just trying your nice board! Well done 👏

Is it possible to see job logs logged with `job.log()`?

It would be nice to know what was logged during jobs runs.

Cheers! 🍻

[2020-04-23 22:10] armmmo opened #98 "queue.client.info is not a function"
TypeError: queue.client.info is not a function
    at getStats (/Users/macbookpro/Documents/data/node_modules/bull-board/routes/getDataForQeues.js:12:22)
    at getDataForQeues (/Users/macbookpro/Documents/data/node_modules/bull-board/routes/getDataForQeues.js:71:23)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
    at async handler (/Users/macbookpro/Documents/data/node_

[2020-04-24 15:11] vcapretz commented on #98
hey 👋, are you using one of the alpha versions or the latest stable one?

if you're not in the alpha version for bull-board we don't have support for bullmq yet 😄

in the alpha we do support bullmq but we still need some testing and to align the docs before making it a beta or even a stable release 👍

[2020-04-24 15:18] vcapretz commented on #96
can you also maybe check the console for possible outputs, please?

I don't see any obvious reason on why is that, it looks like it could be something else in your `app`, maybe some of the other middlewares are messing up bull-board 😕

[2020-04-24 15:21] vcapretz commented on #94
hey, @mtavano 👋
I hope you're good and healthy as well!

these routes you pointed are used internally for bull-board, since we provide a UI for you to visualize and manage your Bull jobs we use these routes when you press the "retry" button on a job for instance.

It's nothing fancy behind these routes TBH, it's something you could accomplish in your application using bull's API directly 👍

[2020-04-24 15:22] vcapretz commented on #91
Hey, sorry for the delay! great catch 😄

I'll take a look into this, the suggested fix would indeed make the code a bit simpler

[2020-04-26 08:31] GeorgeWillaman commented on #43
Still getting this error on my end however.
Any ideas?

[2020-04-27 07:52] tkrugg opened #99 "Question: what's a blocked client"
Hello, I'm wondering what "Blocked client" indicates on the UI, and if there is something I should do about them.

![image](https://user-images.githubusercontent.com/2982512/80347489-a2f48200-886c-11ea-94bb-5ecfa78c3302.png)

[2020-04-28 16:45] ariusxi commented on #96
@vcapretz alright i'll try to debug my app, if i found something i'll comment here

[2020-04-29 09:55] gabrielstuff commented on #91
Hello @vlada79 we run bull-board without issues. Could you tell us the context where you met this issue ?

Thanks

[2020-04-29 09:57] gabrielstuff commented on #72
Hello @vcapretz thanks pretty clear. Are you working on it ? May I start ?

[2020-04-29 09:58] gabrielstuff commented on #37
Pagination start to be a thing for us. We are wondering how we are going to add it.

[2020-04-29 10:02] gabrielstuff opened #100 "Add a cancel task button"
Hello,

I'm definitely really happy to use bull-board. One issue we start to encountered is the possibility to cancel / pause / restart a single task.

Did you think this could be useful ?

Any reason, except time, that you did not add this options ?

Thanks !

[2020-04-29 12:10] vcapretz commented on #72
I did not start working on it 😅 feel free to do so and I will gladly assist you in the PR and getting it released, thank you!

[2020-04-29 12:11] vcapretz commented on #100
Hey!
It could be useful in some cases, just never stumbled on this requirement, if you want to propose a solution in a PR I can look into it 👍

[2020-05-01 10:46] yohanbrg opened #103 "Dashboard in Hapi Framework"
Does anyone use bull-board with the framework Hapi ?

If yes, can you explain me how I can integrate with Hapi without using Express (if it's possible) ?

I've already do the setup with setQueues, but I don't understand how to setup the UI access.

Thanks a lot

[2020-05-08 15:37] #96 closed

[2020-05-12 13:28] CraziiTim commented on #100
I'm vert interested in this as well.

[2020-05-13 08:16] gabrielstuff commented on #100
hello @vcapretz,

I would be happy to contribute. Do you have recommandations to follow in order to simplify the acceptation of the pull request ?

Thanks

[2020-05-13 08:57] vcapretz commented on #100
hey, @gabrielstuff thank you for offering your help!

not much really, fork the repo, make the changes and open the PR, if we have comments about the code we can discuss in the PR 👍

[2020-05-20 02:05] robbiet480 commented on #33
FYI bull-board is now working with my cluster on the latest alpha version!

[2020-05-23 08:16] rivernews commented on #99
Hi @tkrugg , I wondered the same thing a while ago. After using more redis features I think you can find out the answer in this page [Blocking commands in Redis modules](https://redis.io/topics/modules-blocking-ops). My understanding is a client will be set as blocked client once it's running a blocking command and is thereby blocked at the moment. You will find explanation about blocking command

[2020-05-23 21:09] rodrigosegatto commented on #37
If queue > 1000 registers loading all list in one page?

[2020-05-25 21:18] rivernews commented on #37
Hi @vcapretz I found this issue interesting and would love to work on it. Really nice package by the way! But I wonder which version tag should I work on. In my project I'm using bull board `0.6.0` w/o any issue. When I fork the repo I realize `master` is now in `v1.0.0-alpha.7` and contains a TypeScript rewrite.

I assume it'd be ideal if I start working on the latest alpha 7 code base, since it

[2020-05-26 08:51] vcapretz commented on #37
hey @rivernews, thank you very much for being willing to work on this issue, that would be awesome.

so yes, we are rewriting the lib in TS and quite a lot of things changed, we were even wondering if we should drop support for bull 3 altogether and only support `bullmq`, but I'm not so sure about this.

the alpha version is very unstable and we need more work on that, if you want to please create

[2020-05-26 10:07] rivernews commented on #37
@vcapretz  Thanks so much for the context! I'll keep that in mind, hopefully making the paginator component its own file to mitigate the later on porting issue.

Just completed a rough draft version in Typescript, but I agree it's better to be based on `0.6.0` and aim on that first. I'll convert the draft to a javascript edition (not sure how to do this but perhaps removing the typings first) and

[2020-06-01 02:26] meetbryce commented on #100
Would love to see this too! (thanks for building this, it's great)

[2020-06-04 08:38] SqueezedLight opened #108 "bull-board in pm2 cluster mode"
Hi guys,
it seems `bull-board` doesn't work in pm2 cluster mode. This issue is not the same as #33 or #48 i think - these two issues kind of mix up redis cluster mode and pm2/node cluster mode. But in our case i mean pm2 cluster (just for clarification).

Here is the problem: `bull-board` works just fine. But in production a http request is handled from one out of 8 processes due to the cluster mo

[2020-06-04 15:11] TobiGe opened #109 "Ability to set custom headers on Http Requests"
Hi everyone,

I am currently trying to integrate bull-board into an admin-dashboard using react-admin.
We are using Nest.js as the backend framework and have successfully integrated bull-board into our Nest.js App using the technique outlined in Issue #95
When accessing it without any authentication, everything works as expected and bull-board can be accessed (even embedded in an iFrame) and displ

[2020-06-05 11:55] Heartz66 commented on #108
In your case I would recommend to simply forward the bull-board endpoint to your master worker instead of balancing them between all your workers, or you need to register the bull queues to bull-board on all your workers.

[2020-06-08 07:00] SqueezedLight commented on #108
Thanks @Heartz66 for your quick reply. I decided to register the queues on all workers. One thing to note is, that in this case one has to make sure that the jobs in the queue are still completed one after one and not in parallel. If jobs are not completed one after one any more, it is most likely due to the fact, that the process function is triggered from every worker. You can fix this with the

[2020-06-08 07:00] #108 closed

[2020-06-08 09:32] tkrugg commented on #99
thanks @rivernews this makes sense!

[2020-06-08 09:32] #99 closed

[2020-06-08 12:15] suchakraborty opened #112 "Mutliple instances of BullBoard"
Is it possible to have the same express app to host 2 Bull-Board pages with different sets of queues?

[2020-06-08 18:39] sriramr98 commented on #100
Hey guys, is anyone picking this up? I would like to contribute and get things going for this feature. I would love to have this feature as well.

[2020-06-10 01:45] suchakraborty commented on #112
From my initial attempts, it may not be possible to do this. This is a requirement for my project where I have different pages for different workflows ( with different sets of queues). Any suggestion might be helpful.

[2020-06-13 08:47] vcapretz commented on #109
Hey @TobiGe, I don't think it's really possible atm 😕

I just never really considered/worked on that case scenario, but if you have time to send a PR I would gladly review and publish it!

(if you want to make it available in the current latest version instead of the alpha, branch off from the `latest-stable` branch please 😄)

[2020-06-13 08:49] vcapretz commented on #100
hey @sriramr98, I believe you can pick this up if you have time 😄
maybe branch off from `latest-stable` so we can make it available before the alpha version even.

I will gladly review and publish your PR 👍

[2020-06-20 05:46] barrydevp opened #113 "cannot request bundle.js while running with multiple service using same domain"
For example:
I have 2 service with corresponding url:
Service A start with: mydomain.com/a
Service B start with: mydomain.com/b

So if Bull-board on service A, the bundle request expected is: mydomain.com/a/bundle.js. But instead mydomain.com/bundle.js

Thanks a lot

[2020-06-22 08:54] TobiGe commented on #109
Hi @vcapretz,

we settled on using a different authentication scheme for the sole purpose of authenticating requests to the route that serves the bull-board. When there are resources available to improve the experience for our admin-panel, we will re-visit the the possibility of adding custom headers to bull-boards requests. For now, we are okay with what could be achieved without it.

Thanks for

[2020-06-22 08:54] #109 closed

[2020-06-24 19:05] jadkins89 commented on #112
I'm also looking to do this. My use case has potentially 5 environments that I'd like to have different pages for, preferably served from the same server.

[2020-06-25 03:36] suchakraborty commented on #112
@jadkins89 I really liked Bull-board, but this feature was a deal breaker for me. I have moved on to using bull-master which does have the ability to do this.

[2020-06-29 22:52] jadkins89 opened #114 "pagination not in alpha"
First off, thank you for the time and energy you've devoted to this project. I have been using your alpha version to get some access to some very handy features (replaceQueues, clean all in completed, etc). I had to rollback to 0.9.0 though because pagination is necessary since I'm handling thousands of jobs sometimes. Not having clean all in completed though then becomes a real annoyance. Is ther

[2020-06-29 23:45] jadkins89 opened #115 "feature requests"
Here are some desired features that would make my experience with bull-board more useful / enjoyable. Let me know if these are things you'd like to see implemented and I can try to contribute a PR.

- Toggle queue status buttons to show or hide jobs (currently I have to refresh the page to hide them)
- Truncate or hide ids (repeat ids are huge and take up too much screen real estate)
- option to r

[2020-07-09 12:49] ltjin commented on #29
#44

[2020-07-15 07:20] rodhoward opened #119 "requires a middleware function"
This is probably more of a documentation issue. Also feel free to correct me if I'm wrong!

I'm using "express": "^4.17.1"  and I was getting:
[code]
when attaching bull-board in the last line:
[code]

The fix for me was updating to the alpha.8 version of bull-board. I didn't get there very quickly though, I feel like it should be more obvious which versions are supported if this is in fact the be

[2020-07-15 09:47] joebowbeer commented on #119
I see what you mean. The README is out of sync with the code.

The example code in the **README** corresponds to the latest release (v0.9.0).

[code]

However, the master branch **code** corresponds to the 1.0 alpha.

[2020-07-17 10:43] vbueb opened #120 "Possible memory leak"
Hi,

We noticed a increasing memory consumption in the following cases :

- On the long run if we keep the Web interface opened for few hours. At some point the memory of the tab goes beyond 1GB and has to be killed because it starts consumming a lot of CPU resources as well.
- On short term if we move back and forth between "latest" and "completed" tabs for instance.

Regards

[2020-07-24 10:38] balexandre commented on #103
from what you can see in the [source code](https://github.com/vcapretz/bull-board/blob/master/src/index.ts), this package was developed around ExpressJs and heavily uses it's routing options...

it might just be easier to develop your own dashboard, you simply query the [queue for information](https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md)

[2020-07-31 17:36] trompx opened #124 "How to use with next.js (not custom express server) ?"
Hello,

All examples I've found use bull-board with a custom express server.
Is there a way to use it with next.js own server (cannot use app.use) for instance in a pages/bull-dashboard.js file ?

[2020-08-02 14:39] FeezyHendrix opened #125 "Add an options to hide logs"
Hi is there an existing option to hide the log: `GET /admin/queues/queues/? 304 3.962 ms - -` it clogging up the console.

[2020-08-03 17:23] alanhong902 opened #126 "Can't see the result of JOB"
Job process returns a string as result of job once it's completed, but there's no view for checking the result of bull-board's dashboard. Does anyone know the way to see the result?

[2020-08-06 19:51] garrett-gottlieb commented on #98
@vcapretz can you point to the alpha? happy to test it out.

[2020-08-07 14:48] vcapretz commented on #114
hey, thank you very much for your comment!

I've been a bit busy but today I managed to review/merge some PRs and released a new alpha version. I'll try working this weekend on porting pagination to the alpha, you can follow the progress in this same issue!

[2020-08-07 14:49] vcapretz commented on #125
that's a very good point! thank you for the catch. I'll try working on that this weekend and release a new alpha version. I'll probably make that an option where it hides it by default and only logs if consumers explicitly ask for it!

[2020-08-07 14:50] vcapretz commented on #98
hey @garrett-gottlieb, the latest alpha version released today was `1.0.0-alpha.9`

you can get it by manually changing it in your `package.json` or use `yarn add bull-board@1.0.0-alpha-9` 😄

[2020-08-12 14:26] dubiousdavid commented on #120
I have seen this as well.

[2020-08-12 15:44] vcapretz commented on #120
Hey folks! Thanks for bringing this up, I'll try investing it in the next couple of days ☺️

[2020-08-14 11:03] kevinlangleyjr commented on #91
I ran into the same issue when using [helmet](https://www.npmjs.com/package/helmet) with my app and `bull-board` is just one of the routes that the middleware is applied to.

[2020-08-24 02:22] srshkmr opened #130 "Helmet 4.x with Bull board breaks the dashboard."
Getting the following error with helmet 4.x with bull-board 0.9.0

Refused to execute a script because its hash, its nonce, or 'unsafe-inline' does not appear in the script-src directive of the Content Security Policy.

[2020-08-26 23:28] eduardrock opened #131 "Is there a way to overwrite the basePath?"
My bull-board path is defined inside a custom basePath, but when I load the dashboard it fails because it removes my custom basePath

[2020-08-26 23:29] eduardrock commented on #131
@vcapretz

[2020-08-27 15:16] edu791 opened #132 "fields 'data' and 'opts' not shown on the Failed tab"
Is there a way to show that data on the "failed" tab?
For the moment it's only visible on the "completed" tab

[2020-09-01 08:58] Felixfranzen commented on #120
I've experienced memory issues as well, although on the server side. Keeping the interface open for a while (or switching between active/latest/completed tabs) will create a lot of active handles in our node process (see image from our metrics). Closing the interface resolves the issue.
<img width="377" alt="Screenshot 2020-09-01 at 10 53 21" src="https://user-images.githubusercontent.com/14800376

[2020-09-01 14:30] pcandido commented on #131
The same here.
It cannot find static/bundle.js on the right path. It returns 404.

[2020-09-01 19:22] pcandido commented on #131
I got it.

Actually, proxyUrl is exactly for customization. You could set it into your req, as suggested here:

https://github.com/vcapretz/bull-board/blob/master/CHANGELOG.md#added-2

So, I did it:
[code]

[2020-09-02 12:15] tangaye commented on #98
Same problem here. I tried using, but the UI class doesn't exist.

[2020-09-03 15:52] donperi commented on #120
In my case, having the board open for some time spiked my cpu to 100%

[2020-09-05 20:56] ecyrbe opened #136 "[Improvement] Promote delayed Jobs"
In failed tab, we currently can retry a failed job.
Bull support the same kind of feature for promoting delayed jobs to be executed immediatly.

It would be a good idea to add delayed jobs [promotion](https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#jobpromote) in the ui.

[2020-09-09 09:10] codermango commented on #43
Hi, are you going to fix this on 0.9.0, it seems your v1 alpha needs bullmq as dependency, which I don't want

[2020-09-10 08:25] takaaptech commented on #98
@tangaye After change it to 1.0.0-alpha.10, you should run npm update
And in the new version, they change back UI to router
https://github.com/vcapretz/bull-board/blob/master/src/index.ts

So let try it, I can run it now

[2020-09-10 15:02] aksharj opened #137 "Add authentication to admin/queues"
Hi All,

Apologies if this is something trivial.

How can i add authentication to the /admin/queues where all my jobs are listed.

Any help in this will be really great, Thanks.

[2020-09-10 15:11] aksharj commented on #137
it turns out it was indeeed trivial :D

I used `express-basic-auth` and below is a reference code

[code]

Source: https://stackoverflow.com/questions/23616371/basic-http-authentication-with-node-and-express-4

[2020-09-10 15:11] #137 closed

[2020-09-11 11:05] tangaye commented on #98
Thanks @takaaptech. I looked in the code days ago and figured 'router' was used instead of UI. Thanks again.

[2020-09-16 10:31] acro5piano commented on #98
I had the same problem and upgrading to `1.0.0-alpha.10` saved my life! Thanks.

[2020-09-18 11:43] koss-lebedev commented on #132
Looks like it's been fixed in https://github.com/vcapretz/bull-board/pull/93 , but it hasn't been released so far. @vcapretz do you think it can be added to the next release? This feature is super helpful, cause usually to debug failed jobs you want to know the payload that they were called with.

[2020-09-18 13:42] vcapretz commented on #132
Hey! Are using the alpha release or the latest stable? I believe I released it only for the alpha, will double check

[2020-09-21 13:04] HugoPoi commented on #85
I test the `alpha.10`, I'm not sure if it's intended that `bullmq` to be mandatory and if this is a peer dependency ?
We should put
[code]
in peerDependencies I think, and have a conditional require/import on them.

[2020-09-22 02:35] hisabimbola commented on #43
Hello, I was able to nail this down on 0.9.0. Submitted a PR here https://github.com/vcapretz/bull-board/pull/139

@vcapretz can we merge this into 0.9.x as not everybody is using bullmq yet.

Thanks

[2020-10-05 11:00] ankitjena opened #141 "Using bull-board with bullmq and typescript"
## Description
I was trying to setup bull-board for one of my codebases. It is written in typescript and I use `bullmq`. I saw a PR which had the description that it added support for `bullmq`. The first error I am getting it is that
[code]
I can make it work by forcing to `never` type on the `setQueues` method, but on opening the UI, it says no stats to display, even if there are(I checked with `

[2020-10-09 06:07] yathomasi opened #142 "Way to host frontend and api seperately"
Here the situation is,
back-end api is hosted on subdomain and react frontend is on the domain and Nginx reverse proxy handle the requests.
So, I want bull board frontend and api setup seperately.
I want authentication and there is no ui on backend api to login and authenticate. It can only be hosted without authentication.

How can we achieve that?

[2020-10-19 13:21] FeezyHendrix commented on #125
Has this been implemented yet?

[2020-11-02 13:38] throrin19 commented on #130
same problem here with helmet 4.2.0 and bull-board 0.9.0

[2020-11-02 22:43] paeolo opened #146 "A queue named "Paint" will break the UI."
### Version
1.0.0-alpha.11

### Issue
Use a queue named "Paint" within bull-board, launch the UI, you'll get a blank page.

### Minimal code
[code]

[2020-11-02 22:45] paeolo commented on #141
@ankitjena You are right a PR has landed for this, be sure to use bull-board 1.0.0-alpha.X, which is not the case if you install it with a classic
[code]

[2020-11-03 05:57] felixmosh commented on #146
Thank you for reporting this issue, I will review it asap

[2020-11-03 08:11] felixmosh commented on #146
I'm not able to reproduce the issue,
![image](https://user-images.githubusercontent.com/9304194/97961854-b012a080-1dbc-11eb-8664-386ff02c3b5e.png)

I've modified the `example.js` file to
[code]
It works, can you check if there are any errors in the console (browser + terminal)

[2020-11-03 09:03] paeolo commented on #146
Well I'm sorry, but regarding your comment I retried this morning and the bug wasn't here anymore. Don't understand what black magic happended..
I'll reopen and give you a more detailed error/a reproducible repo if I ever fall into it again.

[2020-11-03 09:03] #146 closed

[2020-11-03 09:08] felixmosh commented on #142
Can you elaborate on the setup you have? (domains, etc...)

[2020-11-03 14:48] jonaskirch opened #147 "Layout is broken when queue count is big"
Layout is broken when queue count is big.
Simulated in version 1.0.0-alpha.11
Completed count example : 132782.
![image](https://user-images.githubusercontent.com/15860045/97999235-d4c14500-1dc9-11eb-9c50-1bf64470104b.png)

[2020-11-03 16:51] #147 closed

[2020-11-03 17:42] #131 closed

[2020-11-05 15:58] #91 closed

[2020-11-05 18:06] felixmosh commented on #130
Latest master has a fix for it.

[2020-11-05 18:06] #130 closed

[2020-11-06 16:40] JoJ123 opened #154 "Feature Request: Search"
It would be nice to search for elements in the queue on the Arena Board.

Do you had that feature already in mind?

[2020-11-06 19:12] ccollie commented on #154
What fields should be available to search ? Would this include the job data ?

[2020-11-06 22:34] gorydev opened #155 "Is it possible to retry jobs by specific amount"
Hello I want to know if there's a way to retry failed jobs but not all at the same time and instead do it in batches of the specified amount? like retry 100 jobs then click button again and retry another 100s or the amount you set.

[2020-11-09 09:37] yathomasi commented on #142
Frontend is on `admin.domain.com` and  API is available on `domain.com/api` where frontend is React and backend is nodejs server.
The main issues here I want to implement authentication before accessing bull-board.

[2020-11-09 09:38] yathomasi commented on #142
@felixmosh  can we do this ?

[2020-11-09 09:58] felixmosh commented on #142
Currently it comes with UI + api as a bundle...
You can register the "bull-board" under some "prefix" route which will add middle-wares (auth)  as you want.
Check this [example](https://github.com/vcapretz/bull-board/blob/master/example.js#L59), as you can see, it registers the entire app under `ui`, you can add there your auth logic (which may make a call to `domain.com/api` for it).

Is it make

[2020-11-09 15:53] rosslavery commented on #154
This is a big one for us. We process ~ 1 million jobs daily and being able to verify if a job ran, when it ran, etc. would be great.

We'd need to search by: job name, job data.

[2020-11-09 17:24] ccollie commented on #154
I don't have a solution (yet), but I can help if you need something in the shorter term.

i did something roughly related for another project: [redis-timeseries-stream](https://github.com/ccollie/redis-timeseries-stream), and I have a similar filtering mechanism in mind for a `bull` project I'm working on.

[2020-11-09 17:32] ccollie commented on #154
@rosslavery how would that verification process look ? I guess there would be a dialog where you could look up a job by Id ?

[2020-11-09 18:57] rronalddas commented on #154
@rosslavery did you try using taskforce from the OptimalBull Team? They have a search functionality

[2020-11-11 08:00] dc-deal opened #156 "Issue with Display"
hello, thanks for hearing me out.

Bull-Board UI is working. But the display presentation - seems to be wrong. Appears to be some CSS missing eventually?
I'm Running Node.js on a Windows machine

I Hope i didn't miss some important stuff you wrote on the Readme, i went trough it several times.

The Way i see it - not like the way it looks like the pictures in your Readme.

![2020-11-10 08_58_35-Wi

[2020-11-11 08:08] felixmosh commented on #156
This was the old design, it changed in the v1.10-alpha, you can install it from `npm` using
[code]
Or using `git clone` from master

[2020-11-11 08:19] #156 closed

[2020-11-11 09:01] dc-deal commented on #156
Thanks a lot!

[2020-11-11 10:43] AlexSenchenko opened #157 "Login page"
Hi is it possible to secure by login page?

[2020-11-11 12:29] felixmosh commented on #157
There is not built-in login page or auth flow, but you can add one, since we expose to you the routes you can add before them your auth middleware, and make a custom login page.

[2020-11-12 04:29] yathomasi commented on #142
Thank you for your response.
Yes I understood your answer but that comes with lots of complications with it.
Since frontend and backend are not on same domain(subdomain being treated as separate domain) it would be difficult to handle authentication with middlewares too.
Another solution could be adding server side rendering frontend to current backend api and that also seems another hassle.

So f

[2020-11-12 07:08] felixmosh commented on #142
I'm not sure that you got the idea.
Serve bull-board under your front end domain.
At your front end app, add a login page which will communicate with your api for auth. After successful login put cookie on the frontend domain, (which will be available at your board mounting point).
Add a middleware which will check the cookie at the mounting point of the board.

Does it make sense?

[2020-11-12 10:34] JoJ123 commented on #154
Hi, thx for all the answers so far.
For my project the best would be to have a regex search on the job data

[2020-11-12 14:52] ccollie commented on #154
With your volume of jobs the most efficient route would be something written in `lua`. Keep in mind that `lua` does'nt use `posix` regexes, so there may be compromises depending on the complexity of your searches.

Do you have an example of the data you're searching ?

[2020-11-12 19:59] JoJ123 commented on #154
`{
  "content": {
    "machineName": "TestMachine",
    "machinePath": "123e4567e891012ed68aae95ed\\applications",
    "applicationName": "TestOffline",
    "severity": "Critical",
    "comment": "Critical",
    "status": "offline",
    "timestamp": "12/11/2020 19:49:10"
  },
  "notificationId": "11111c2222223ac3333336af",
  "userId": "11111c2222223ac3333336af"
}`

This would be one example for on

[2020-11-12 20:05] ccollie commented on #154
Final question (maybe). What's an example search you'd like to run against this ? Feel free to express it in `js` or as a `mongo` style query.

[2020-11-13 15:43] JoJ123 commented on #154
In this content case the best would be to filter for this field `notificationId`, but the content can change on different queues.

So here I would like to have a "search bar" like in Kibana / Logz.io and such type inside "11111c2222223ac3333336af" to get all matching jobs.

[2020-11-13 15:51] ccollie commented on #154
I see. That's much more straightforward than what I'm working on, but I'll go ahead and support a simple text search over `job.data`.
  Unfortunately I'm not sure how much bandwidth I'll have on the UI side, so if someone could help there i'd appreciate it.

[2020-11-16 08:11] felixmosh commented on #155
Currently there is no such functionality

[2020-11-22 15:26] marabesi commented on #45
is the docker image from @JonDum the official one atm? Just wanted to run as a stand alone with docker and I found out that #66 has a few merge conflicts.

[2020-11-22 21:55] tombh commented on #45
Sorry, I just haven't been keeping up with master because I guess the maintainer just doesn't have the time to look into this branch

[2020-11-23 07:44] marabesi commented on #45
Hey @JonDum is there something that we can do to get @tombh work merged?

[2020-11-24 09:20] paeolo opened #159 "Design bug: jobId overlap job name"
I noticed a bug in the design (CSS I guess) of the bull-board ui. When the jobId is too long, it will overlap with the job name.

![bulllboard_overlap](https://user-images.githubusercontent.com/32302162/100073805-3eb79200-2e3e-11eb-8e45-d4bbf79c3dc8.png)

I suggest to use an ellipsis for the jobId for instance, since you can still view it clicking on the "options" tab. Or maybe changing the vertic

[2020-11-24 09:37] felixmosh commented on #159
Thanx for reporting this issue 🙏🏼

I will check it asap

[2020-11-24 11:47] #159 closed

[2020-11-24 11:47] paeolo commented on #159
BTW I just took a look at your UI code. It's a pleasure to see a well written react app;)

[2020-11-24 15:38] lukepolo opened #161 "Design bug: data outside of div"
Long data will go outside of the container.
![image](https://user-images.githubusercontent.com/2066668/100115898-141b0880-2e41-11eb-980a-7e8d3be0614b.png)

![image](https://user-images.githubusercontent.com/2066668/100115931-2137f780-2e41-11eb-9543-ffced7841bb4.png)

[2020-11-24 15:43] felixmosh commented on #161
Thank you for reporting this issue, 🙏🏼
I will check it out asap.

BTW, PRs are always wellcome
BTW 2, how did you changed the position of the menu to right? 😎

[2020-11-24 17:48] lukepolo commented on #161
Sorry just saw this reply. I have two instances of it open .

We have a very complex system and requires me to have two version of redis / queues operating!

[2020-11-24 18:42] #161 closed

[2020-11-26 00:09] Heartz66 opened #167 "bullmq required module but using bull"
I am using `bull`, not `bullmq`, and when I try to compile using typescript I receive the following compiler error:

`error TS2307: Cannot find module 'bullmq' or its corresponding type declarations.`

Meanwhile, the issue is resolved aftering install `bullmq`

[2020-11-26 06:11] felixmosh commented on #167
What is the file that requires it?

[2020-11-26 06:58] FPNL commented on #167
seems dist/index.js:8 need it,
I tried to move bullmq to dependencies from devDependencies in `package.json`, then it installed.

[2020-11-26 07:33] k2s commented on #167
`bullmq` it is required in `dist/index.js`. In fact it is never loading `bull` package.
Do we need to compile own package if we want to use `bull` ?
Could `bull-board` except `bull` library to use on initialization ?

[2020-11-26 07:41] felixmosh commented on #167
You are right, `bullmq` is used here https://github.com/vcapretz/bull-board/blob/master/src/index.ts#L43, therefore, it should be a `dependency` instead of dev dependency.

Regarding this,

I'm not sure i understood your meaning.

[2020-11-26 07:45] k2s opened #168 "v1 release exports router instead of UI"
Examples for v1 tag show `const { UI } = require('bull-board')`, but `UI` is never exported from `bull-board/dist/index.js`, it exports `router`, which works.

[2020-11-26 07:56] felixmosh commented on #168
It is a major release, we decided to change the interface a bit.

Instead of invoking `UI` function, you get the `router` which is what `UI` was returning, check the usage in [example.js](https://github.com/vcapretz/bull-board/blob/master/example.js)

[2020-11-26 07:59] k2s commented on #167
@felixmosh my quick idea to make bull-board independent from bull version was something like:

[code]
`bull-board` would not need to have bull library as dependency or only one as fallback if not provided by user.

[2020-11-26 07:59] vcapretz commented on #168
PR up for updating the readme file! thanks for the catch @k2s 👍

[2020-11-26 08:05] felixmosh commented on #167
@k2s , Ha got the idea, but there are 2 concerns with it:
1. `bull-board` using lib's typescript interfaces
2. If you pass the instances from out-side, it may break, since `bull-board` is invoking methods on those instances => api may change => `bull-board` won't work.

I think that it is better to remove the only [usage](https://github.com/vcapretz/bull-board/blob/master/src/index.ts#L43), and ma

[2020-11-26 08:11] #168 closed

[2020-11-26 08:14] vcapretz commented on #167
I agree on removing the usage, it seems like it can be solved in other ways, I am just not sure what properties we can look at to decide if it's a queue from bull or bullmq 🤔

[2020-11-26 08:57] #167 closed

[2020-11-26 10:37] k2s commented on #167
@vcapretz if you need to know which bull library is in use, then what about changing my proposal to use second parameter into options.

[code]

[2020-11-26 11:27] felixmosh opened #174 "Task: Remove bullMQ deps"
Currently there are 2 check which are specific to bullMQ
1. https://github.com/vcapretz/bull-board/blob/master/src/index.ts#L43
2. https://github.com/vcapretz/bull-board/blob/master/src/routes/cleanAll.ts#L28

This usages are require us to put bullMQ in our deps even though it is not required.

My suggestion is to provide 2 wrappers one for each Q, which provides the **same** API.
`setQueues` will

[2020-11-26 11:27] felixmosh commented on #167
Thank you for the suggestion, I found more checks like this (https://github.com/vcapretz/bull-board/blob/a0de3877e720230a0dd08a2b262f822a52bb018a/src/routes/cleanAll.ts#L28), we need to refactor the code so it will be agnostic to the lib type.
I've opened an issue for it, https://github.com/vcapretz/bull-board/issues/174

[2020-11-27 07:44] sellomkantjwa commented on #114
Has pagination not made into 1.0.1 as well? Im only seeing the first 11 jobs.

[2020-11-27 09:46] felixmosh commented on #114
You are right, I'v missed this feature, I will review on how it can be returned.

[2020-11-30 18:04] #174 closed

[2020-12-01 23:33] gohiei opened #178 "Mark the failed jobs"
If there are some failed jobs, it maybe a serious problem.
I suggest some warnings or marks, such as: red background color, or `!` icon...etc.

[2020-12-02 00:23] mathewcst opened #179 "BullAdapter is not a constructor"
I've just add the package to my project and followed the "Hello World" from the readme and it doesn't work.

I just run the server and get

[code]

[2020-12-02 02:40] xgustavoh opened #180 "Bullmq >= 1.8.14 [Incompatibility]"
Starting with version 1.8.14, the Queue class was recreated.
See in: [queue.ts](https://github.com/taskforcesh/bullmq/blob/7372ef16465fdf7d3c803a9cd9c1a25422d53373/src/classes/queue.ts)

Other changes have been made, but the main error is:
[code]

-----
Temporary correction:
[code]
In: `index.d.ts`

[2020-12-02 03:50] hrydi commented on #179
Hellooo, why you closing this issue?
did you solve it yet?
how you solve it?

thank you

[2020-12-02 04:41] felixmosh commented on #179
We didn’t released the latest change (the one that uses adapters) yet.
Should be done today

[2020-12-02 04:42] felixmosh commented on #178
Where?

[2020-12-02 04:47] mathewcst commented on #179
Hey, sorry for not providing a fix.

In my case, I literally just removed the `BullAdapter` and passed the queue to the array like:
[code]

[2020-12-02 06:57] #179 closed

[2020-12-02 07:15] felixmosh commented on #180
Is it reproduces in the master branch?

[2020-12-02 08:17] felixmosh commented on #179
We just released v1.1.0 that uses the adapter pattern.

[2020-12-02 17:06] xgustavoh commented on #180
The incompatibility error has been resolved.

But now it is reporting another error:
[code]

[2020-12-02 17:27] felixmosh commented on #180
Thanx, I've confirmed this bug. will submit a fix for it asap.

[2020-12-02 18:12] #180 closed

[2020-12-02 20:52] grahamb opened #184 "View returnValue for completed jobs?"
bull-board doesn't seem to display the data passed to the done callback for completed jobs (the `returnValue`). For example, in a worker:

[code]

It would be very useful to be able to see this data. Am I missing something or it not available in bull-board?

[2020-12-03 01:37] gohiei commented on #178
Left menu item (NavLink).
Modify the item color, or append icon.

[2020-12-03 07:09] felixmosh commented on #178
Just to clarify, you want to mark a queue tab with at least one failing job?

[2020-12-03 10:18] SahanAmadoruge commented on #124
i'm looking for an answer for the same issue.

[2020-12-03 10:56] chris-askbrian opened #185 "v1.1.1 Not working"
I tried to run v1.1.1 on my local machine but its not working...

[code]

I get javascript errors on the browser console:
[code]

[2020-12-03 12:01] felixmosh commented on #185
if you clone the project & run the `node example.js` does it works?

[2020-12-03 15:09] hrydi commented on #179
thank you, i will look it later

[2020-12-04 00:44] gohiei commented on #178
Yes, it would be helpful.

[2020-12-04 05:47] sayanriju commented on #125
+1

This will be an important feature to have!

[2020-12-04 11:38] chris-askbrian commented on #185
Nope dint missed it:

[code]

[2020-12-04 11:50] chris-askbrian commented on #185
Ok never mind... I just reinstalled bull-board again and now its working... looks like some dependencies havent been installed

[2020-12-04 11:50] #185 closed

[2020-12-05 08:27] felixmosh commented on #125
An idea for solving http logs, let's consider to switch to socket.io? :]

[2020-12-05 10:31] sayanriju commented on #125
FWIW, I'm currently using a workaround for this on my Express stack, which uses morgan for the logging.

Morgan has a `skip` method as an option which can be used to match `req.originalUrl` against the admin endpoint defined for bull board and dynamically disable logging for those.

[2020-12-07 17:43] sbarzaghialteaup opened #193 "Release 1.1.2 TypeError: queue.getName is not a function"
Hi,

After updating from release 1.0.1 to 1.1.2 I get the error:
[code]
I solved using the new `BullAdapter` class.
Is the release 1.1.2 not backwards compatible?

Thank
Sam

[2020-12-07 17:55] felixmosh commented on #193
Yeah, we decided to bump minor instead of major since the major release is "new".
Probably not the so semantic of us, sorry for that 😅

[2020-12-07 17:55] #193 closed

[2020-12-08 00:50] joaovbibiano commented on #157
Would be amazing a simple step of type a single password to then access the app

[2020-12-09 09:05] #184 closed

[2020-12-09 23:53] grahamb opened #194 "Can't install React 17 in project that uses bull-board"
I have bull-board as a dependency in an existing project. The current shipping version of bull-board (1.1.2) strict-requires React 16.13.0. It looks like you bumped this to strict 17.0.1 in #189 but this hasn't been published to NPM. I would like to use React 17+ in my project but I can not until you publish a new version that includes #189.

It's odd that bull-board should be blocking anything in

[2020-12-10 00:00] grahamb commented on #194
Closing; updating npm to latest seems to have resolved this.

[2020-12-10 00:00] #194 closed

[2020-12-10 03:53] levankhang opened #195 "Error: Cannot clean unknown queue type 5000"
[code]

bull-board: 1.1.2
bull: version 3

[2020-12-10 06:37] felixmosh commented on #195
The line that you've mentioned is relevant only to the latest version of bull-board, the "queue" here is the relevant adapter,
Check this code: https://github.com/vcapretz/bull-board/blob/master/src/queueAdapters/bull.ts#L21

[2020-12-10 07:09] levankhang commented on #195
Thank you!

[2020-12-10 07:09] #195 closed

[2020-12-10 11:21] eduarhasanaj commented on #157
@felixmosh How can we add it? In my opinion api calls made by  bull board do not send any auth header.
So do we need to modify it?

[2020-12-10 11:28] felixmosh commented on #157
I think that Authentication based on **cookies** should work out-of-the-box, if no, it will require small change in the usages of `fetch` in [here](https://github.com/vcapretz/bull-board/blob/master/src/ui/hooks/useStore.ts)

[2020-12-10 20:52] felixmosh commented on #157
I've added an auth example to our (initial) examples folder :]
https://github.com/vcapretz/bull-board/pull/196

[2020-12-10 22:40] joaovbibiano commented on #157
Good Job @felixmosh  !

If you need some help, I available to this task

Thanks for your effort

[2020-12-11 22:04] guiquintelas opened #198 ""queue.getName is not a function" in version 1.1.2 when calling setQueues"
![image](https://user-images.githubusercontent.com/29166076/101958762-b88f9f80-3be2-11eb-93ba-26d1ec83ba11.png)

![image](https://user-images.githubusercontent.com/29166076/101959197-9e09f600-3be3-11eb-8039-bb2f9079210c.png)

bullmq version: 1.10.0

It works in version `1.0.0-beta.1`

[2020-12-12 03:08] sbarzaghialteaup commented on #198
Seems duplicate of #193 bye

[2020-12-12 09:28] #198 closed

[2020-12-14 10:34] felixmosh commented on #157
@AlexSenchenko  does the example solves your needs?

[2020-12-15 08:50] AlexSenchenko commented on #157
@felixmosh let me get back to you tomorrow.

[2020-12-15 21:01] kyleolsondesign commented on #193
Sorry, what is the solution here? I'm using latest BullMQ (`1.11.2`) and latest bull-board (`1.1.2`) and it's not working out-of-the-box...

[2020-12-15 21:14] kyleolsondesign commented on #126
Fixed in https://github.com/vcapretz/bull-board/pull/190, I believe. But not yet released :)

I was looking for the exact same thing :)

[2020-12-16 06:12] felixmosh commented on #193
The solution is to wrap the queue with the relevant adapter

[2020-12-16 08:14] felixmosh commented on #126
Sorry, I've missed the fact that we didn't released it.
A release [PR](#200) was made :]

[2020-12-16 08:14] #126 closed

[2020-12-16 09:38] vcapretz commented on #41
hey @humphd, a lot has changed since the time you opened the pr 😅 I'm closing this issue for now but please feel free to reopen it if the issue persists in the latest version (1.2.0 as of the time of this comment)

thank you very much!

[2020-12-16 09:38] #41 closed

[2020-12-16 09:42] #94 closed

[2020-12-16 09:43] vcapretz commented on #98
hey all 👋

I'm closing this issue for now, but please let me know and feel free to reopen it if the issue is still happening on version 1.2.0 👍

thank you!

[2020-12-16 09:43] #98 closed

[2020-12-16 09:55] felixmosh opened #201 "Improve release process"
Consider to use [release-it](https://www.npmjs.com/package/release-it).

I'm using it in my personal projects, it makes the release much more smoother and deterministic.

It can:
- Create a release commit with **the same** commit message template.
- Create a tag, (this will trigger our release action in github)
- Update the changelog automatically (based on default template, looks like [this](http

[2020-12-17 03:32] FPNL commented on #178
Yes, maybe something like Kue js:
https://github.com/stonecircle/kue-ui

Though, it's deprecated, but it summary all the info at a glance.

[2020-12-17 06:08] felixmosh commented on #178
It looks like that the summary there was under accordion, which means that you need to click the queue name in order to see the data. The same thing is at bull-board, you can click on the queue name and see the stats.

Lets research ux/ui wise option on how to show these stats...

[2020-12-17 19:51] noclat commented on #124
Here's how I made it work:

[code]

A bit ugly but I've found a workaround. Underneath it's basically just an Express application. There's a way to execute an express route without launching the server: `app._router.handle` ([source](https://soyuka.me/call-framework-routes-programmatically/).

But it needs a bit more understanding when combining it with Next.js: we have to tell Next.js to route ev

[2020-12-18 06:13] malisetti opened #202 "Can not use 1.2.0 without bullmq depenedency"
My project just uses 'bull' not ''bullmq'. When i try to compile the project with tsc i get the following errors.

[code]

[2020-12-18 14:18] lukepolo opened #203 "Invalid Time Value"
I am currently running into an error

[code]

We should probably not render the whole page cause of an invalid time.

[2020-12-18 19:42] felixmosh commented on #203
Can please elaborate?

[2020-12-18 19:58] lukepolo commented on #203
Sure, im not 100% sure what happened, (hence few details). I got into a bad state where I was having too many connections on my queue and I started to have lots of delayed / waiting jobs.

This is much as I have to go off, feel free to close, but I figured we could at least catch the exception and gracefully fail so we can view which jobs are the culprits.

[2020-12-22 13:22] derakhshanfar opened #207 "constantly UI refresh"
Hi guys. First of all, a big thank you for creating such a handy dashboard.
I just have a small issue. auto-refreshing in job queues causes some problems. for example, I can't scroll down or inspect jobs in queue lists. is there any way to prevent auto-refreshing or other possible solutions?
I'm using 1.1.2 version

[2020-12-22 14:01] felixmosh commented on #207
This is not reproduces at my side, each update is made at the background and react preserves the UI state untouched

[2020-12-24 08:44] felixmosh commented on #203
Hi, I've saw the same issue, it happened when I've added a delayed task (using the [example](https://github.com/vcapretz/bull-board/blob/master/example.js#L69)) since the endpoint config, the delay at the server side comes as a string (which is invalid).

I've made a PR to [fix the example](https://github.com/vcapretz/bull-board/pull/208/files#diff-cb5035afa04402604bd7ced6366143d20e90e56fb20e6c5ce

[2020-12-24 08:48] felixmosh commented on #202
Thank you for reporting the issue, We need to think how to solve this issue.

From one side we don't want to install both of the libs from the other side we do want to use it's types.

[2020-12-24 08:52] felixmosh opened #211 "Implement Virtual-scroll as performance solution"
There are many issues that related to the amount of jobs that we are presenting, and each issue tries to solve the specific issue.
Many solution are presented, like pagination (reduces # of jobs per page), data filtering (reduces data amount).

I think that it is better to implement some kind of virtual-scroller which will render only the jobs that are on the screen.
My best lib for the job (I'm u

[2020-12-25 09:23] felixmosh commented on #207
Hi, I'm able to reproduce the issue, will look into it.
Thanx for reporting this issue 🙏🏼

[2020-12-26 15:57] jafework commented on #124
@noclat Thanks! this worked, only change is `[[..path]].js` should be `[[...path]].js`

[2020-12-29 09:38] DaveLomber opened #212 "Integration with AdonisJS"
Hi everyone

Did someone try to connect the bull board into AdonisJS?

AdonisJS is based on top of express js, so seems there should be a way to do so

Here is a doc for Routing https://adonisjs.com/docs/4.1/routing

If someone can help - will be much appreciated

[2020-12-29 19:01] felixmosh commented on #212
I've reviewed adonis.js api, it's router is not based on express, you can write small adapter (proxy) handler between adonis => express.

Each express router (the thing that we export) has `.handle(req, res)` which gets express req & res.

[2021-01-02 00:40] Jivings commented on #203
Also getting this error when I have stalled jobs 👍

[2021-01-02 12:13] felixmosh commented on #203
@Jivings how can I reproduce this issue? can you provide a small reproduction repo?

[2021-01-04 06:42] Jivings commented on #203
I'm not certain, but it was definitely happening when I had some stalled jobs. But also could have been a 2020/2021 issue becuase stalled jobs were from before the year date line 😅

Now it's not happening, so not sure how to reproduce.

[2021-01-06 01:21] Jivings commented on #203
Just got it now and it looks like one of the Jobs in the response doesn't have any data so I guess that will do it!

![image](https://user-images.githubusercontent.com/1462828/103717480-8e25dc00-5000-11eb-8bfe-9eddcc2d31cd.png)

[2021-01-06 06:37] felixmosh commented on #203
@Jivings thank you, but how this can happen?

[2021-01-07 10:00] dattp opened #213 "TypeError: Cannot read property 'toJSON' of null"
My system throws an error like this:

[code]
How to fix!
Thanks!

[2021-01-07 17:31] leorcvargas commented on #203
I'm also facing this problem, but I'm not sure what makes it happens

![image](https://user-images.githubusercontent.com/26147143/103924584-ff46bb80-50f4-11eb-9a98-f66eda425066.png)

[2021-01-10 19:03] geminigeek commented on #213
same issue here the function toJSON  is not called/imported any where in the file

[2021-01-10 19:52] geminigeek commented on #207
i can confirm this is an issue in google chrome , in firefox its fine. i am using version 1.2.0

[2021-01-14 09:22] dattp commented on #213
@geminigeek  i think that it fixed in PR https://github.com/vcapretz/bull-board/pull/139, but not merge!

[2021-01-16 15:57] sajov opened #214 "Queue pause / resume feature"
Hi, thanks for this board.
Bull is pretty new to me. While discovering the queue api makes me wondering why there is no `pause` and `resume` a queue feature?
May be i miss something.
If it makes senes i can do a PR.

[2021-01-17 14:32] felixmosh commented on #214
There is no good reason for these missing actions, I guess that it can be added to relevant statuses.

PR's are welcome :]

[2021-01-17 16:22] ccollie commented on #214
`pause` and `resume` are queue-global (at least in `bullmq`)

[2021-01-17 16:25] sajov commented on #214
Yes it's queue-global and i thought to add it on the left queue menu

[2021-01-17 23:31] sajov commented on #214
There are missing  type definition for `isPaused` therefore i had to made a PR https://github.com/DefinitelyTyped/DefinitelyTyped/pull/50685

I forked and and got it working. https://github.com/sajov/bull-board

This is how it looks like for now. Any suggestion?
<img width="1185" alt="default" src="https://user-images.githubusercontent.com/2475348/104859272-60a43100-5924-11eb-90dc-11c2f27843f0.png

[2021-01-17 23:38] ccollie commented on #214
Looks good to me

[2021-01-18 09:12] felixmosh commented on #214
I don't think that this is the right place for it, someone can click on the pause/resume button  by mistake.

In my opinion, it is better to place the "queue actions" above the tabs inside the queue page, wdyt?

[2021-01-18 11:53] sajov commented on #214
@felixmosh thats a good Point! thx
Still waiting for neseccary type PR, so i will move this actions. A Suggestion where exactly?

[2021-01-19 00:45] MarconWillian opened #215 "Report Tab"
Guys, in this new version I felt a little lack of having a page with the basics of each queue, who knows a tab of queues report, which lists all and dis how many failures or completed each has.

[2021-01-19 21:40] softbrix opened #217 "How do I use basePath?"
I would like to host the bull-board as an admin addon to one of my image services.

I works fine when I'm on localhost ie. http://localhost:3000/queuestatus.
But on my server the app is hosted under a sub path: https://<server_name>/<application_name>/queuestatus.
I've seen a basePath variable in the code but no documentation on how to configure it.
Now the bull-board app fails to load the css and

[2021-01-20 03:39] felixmosh commented on #217
https://github.com/vcapretz/bull-board/issues/131#issuecomment-685081738
Is it helps?

[2021-01-20 14:04] softbrix commented on #217
Works great with a little tweak:
`const { router } = require('bull-board')

// ... express server code and a definition of basePath

app.use('/admin/queuestat', (req, res, next) => {
    req.proxyUrl = basePath + 'admin/queues';
    next();
}, router)`

[2021-01-20 14:11] felixmosh commented on #217
Can you make a PR for the readme, so future you will find it quickly? :]

[2021-01-20 18:58] softbrix commented on #217
Yes, I'll try to fix that.

[2021-01-24 09:27] #217 closed

[2021-01-31 20:43] jeremysmith1 opened #219 "Feature Request: Read-only mode"
I think it would be very beneficial to allow a user to configure the board to a read-only mode when configuring routes. In the UI, the buttons that affect the state could be grayed out.

My team is using bull board for observability. We would like to open up its usage to a select group of users, but we cannot allow them to modify the state of bull queues. This is why I suggest having an additional

[2021-02-01 06:19] felixmosh commented on #219
Interesting idea, it can be done ;)

PR's are welcome here

[2021-02-01 09:48] DocX commented on #219
You can also make a simple middleware that blocks `PUT` requests and use it around the bull board app :)

Something like:
[code]

[2021-02-01 15:14] jeremysmith1 commented on #219
Wow, that was a quick turn around. Thanks @felixmosh

[2021-02-01 16:48] mjborys opened #222 "Queue list fixed width"
We have some longer queue names that get cut off by the fixed-width column of queues on the left side. It defaults to a horizontal scroll wheel at the bottom, but it would be nice if I could quickly drag and expand this menu to see the full queue names.

[2021-02-01 17:20] felixmosh commented on #222
Can you add some image?

[2021-02-01 17:21] felixmosh commented on #219
Had an hour spear during the day :]

[2021-02-01 17:25] mjborys commented on #222
![image](https://user-images.githubusercontent.com/711563/106494535-8d118e80-6488-11eb-84ba-b6cf9b608e30.png)

[2021-02-01 17:32] felixmosh commented on #222
horizontal scroll won't be nice for this,

UX best practices for such scenarios is to add ellipsis at the end & add some kind of tooltip (native or custom)  with the full name,

Will it work for you?

BTW PR's are welcome here :]

[2021-02-01 17:55] mjborys commented on #222
A tooltip showing the full name would be a big help!

I'd love to contribute but I am not familiar with most UI engineering, I can give it a shot sometime though!

[2021-02-01 23:42] Heartz66 opened #223 "Typescript compile issues"
My typescript project is experiencing issues when trying to compile on the latest `bull` and `bull-board` versions.

`/project/node_modules/bull-board/dist/@types/app.d.ts(3,8): error TS1259: Module '"/project/node_modules/@types/react/index"' can only be default-imported using the 'esModuleInterop' flag`

My tsconfig.json:
[code]

[2021-02-03 13:07] josmas commented on #207
I see this all the time on Firefox with 1.1.2

@felixmosh it does not happen locally but when connecting to a live site it is just a constant flicker, with tabs showing info they should not, and as @derakhshanfar mentioned, trying to scroll, or even switching from `error` to `data` on failed builds is impossible for the most part.

I don't know if this is an artefact of having hundreds of jobs, or

[2021-02-03 16:16] felixmosh commented on #207
@josmas Thank you for the info, I will try to reproduce it with log lists 🙏🏼

[2021-02-03 19:26] derakhshanfar commented on #207
@josmas I think if you have more than one queue and you switch tab between them you can replicate this issue.

[2021-02-03 23:00] josmas commented on #207
In my case I do have two queues in the UI. One of them is empty, has never seen a job (it is not hooked up yet) but it is registered.

[2021-02-04 12:17] #219 closed

[2021-02-08 20:58] edilson opened #224 "Bull board is not opening on other environments"
I can open and see all the queues at the dev environment but when I'm trying to open it in a staging environment it does not load the app queues. Looking at the browser console I could see that it is trying to access the following route ```/admin/undefined/queues/?``` but it should be accessing this one ```/admin/queues/queues/?```. What could possibly be the problem for not being able to see the

[2021-02-08 21:39] felixmosh commented on #224
Looks like you are passing [custom render route](https://github.com/vcapretz/bull-board#hosting-router-on-a-sub-path).

Can you check what is the value inside your HTML of the `<base href="value-here" />` tag?

[2021-02-09 07:53] cheaprYang opened #225 "fastify how to use?"

[2021-02-09 08:08] felixmosh commented on #225
Maybe this plugin can help you, https://github.com/fastify/fastify-express

[2021-02-09 11:52] edilson commented on #224
@felixmosh I couldn't find the tag you asked for. I believe it's because I'm still using the 0.9.0 version. But still I don't see why switching from environments makes it not work correctly.

[2021-02-09 12:02] felixmosh commented on #224
Ha, do you have any errors in the console / network panel?
In versions < 1.0.0 there was an issue with helmet as well

[2021-02-09 12:26] edilson commented on #224
[code]

Because it is trying to get the route I described in the issue. I don't understand because I disabled helmet and still wasn't working.

[2021-02-09 12:29] felixmosh commented on #224
Can you share your mounting point (in `express`) of bull-board?

[2021-02-09 15:30] edilson commented on #224
[code]

[2021-02-09 16:14] felixmosh commented on #224
This looks OK

Can you share an online example, I will able to debug it.

[2021-02-09 17:39] edilson commented on #224
@felixmosh thanks for your help. I updated to version 0.10.0 and it worked.

[2021-02-09 18:10] #224 closed

[2021-02-10 07:46] felixmosh commented on #223
Try to add `"allowSyntheticDefaultImports": true` to your tsconfig

[2021-02-10 14:53] josmas commented on #225
You can set it up with fastify-express as @felixmosh mentioned. For instance to server at `/queues` you can:

[code]

[2021-02-10 14:56] #225 closed

[2021-02-11 13:39] johnfazzietempus commented on #202
Also getting this error.

[2021-02-11 14:13] felixmosh commented on #202
PR's are always welcome :]

[2021-02-11 16:32] carlosbaraza opened #227 "Pagination"
I've seen discussions around pagination in multiple threads like #114, and there was even a PR (#191), which is now closed.

Is this feature implemented? How could we get it into the tool?

[2021-02-13 09:54] mannharleen commented on #154
Any update or progress ?
This feature is really important.

[2021-02-13 12:09] jasrusable commented on #227
Hey, try this instead: https://queuemetrics.io/

[2021-02-13 12:09] jasrusable commented on #223
Hey, try this instead: https://queuemetrics.io/

[2021-02-14 12:11] jasrusable commented on #215
Hello, QueueMetrics.io has this feature: https://queuemetrics.io/

[2021-02-14 12:27] felixmosh commented on #215
@jasrusable stop recommend your commercial app here.

[2021-02-15 01:16] mannharleen commented on #215
++ the ability to see execution times. possibly a graphical representation in the future?

[2021-02-15 01:26] ccollie commented on #154
I wrote this specifically for a monitoring library I'm writing specifically for `bullmq`, so it may not work for `bull`. Essentially it implements a `mongo` compatible query library in `lua` that does a filter over job data in `redis`. There are tests included for most of the functionality included, though more are needed (see [here](https://github.com/ccollie/toro-api/blob/development/__tests__/s

[2021-02-15 06:40] felixmosh commented on #215
Can you elaborate?

[2021-02-15 09:09] mannharleen commented on #215
Here is an example - https://help.zend.com/zend/current/content/resources/images/zs91_jobqueue_pulse_data.png

[2021-02-16 07:59] jsbrain commented on #202
I think probably splitting the types into two different dist folders should do the trick, with one being the default.

So if you want to use it will bull, doing:

[code]

is sufficient, where as if you want to import the BullMQ packages, you'd have to do:

[code]

and same works for Bull as well:

[code]

so the "default" only requires/exports the types from either one of the libraries but you can

[2021-02-16 08:19] felixmosh commented on #202
@jsbrain thank you for the suggestion,
Unfortunately, it is not so simple, since there are several places which uses both of the types, such as  https://github.com/vcapretz/bull-board/blob/master/src/%40types/app.ts.

[2021-02-16 10:00] jsbrain commented on #202
@felixmosh yes sure, you'd either have to exclude two sets of types for each library, or better, transform those types to conditional/generic types so the actual final types are defined by one single type param which is either bull or bullmq.

I'm currently super busy at work so idk if I'm able to contribute much but I will try to provide at least an example type soon which could be used as templa

[2021-02-16 12:57] mannharleen opened #230 "Modify the way Error is displayed under FAILED tab"
## What I noticed:
When `error.message` (nodejs error object) is an object rather than a string, the UI doesn't handle the display properly. (see image below):
![image](https://user-images.githubusercontent.com/22973248/108064923-6a4ebf00-70b1-11eb-9a57-d89c58446332.png)

## Possible solution options
We could fix this on the UI, however, I also feel that showing stack traces may not be acceptable

[2021-02-16 13:36] felixmosh commented on #230
You can catch the failure of the job & re throw a custom object.
This checks that if there is no `stacktrace` && there is `failedReason`, it will show `failedReason`.
https://github.com/vcapretz/bull-board/blob/master/src/ui/hooks/useDetailsTabs.tsx#L49

Let me know if this solves the issue

[2021-02-16 17:37] jsbrain commented on #202
Alright, so I spend some time digging around and partially solved the "issue" I guess. So the main problem here, as far as I can tell, is mainly the differentiation between the Job and JobMq type.

I think the best solution to fix this is, to rewrite everything to using generic types only. So the actual Job type will be passed as generic type to each function, class, other types so those actually

[2021-02-16 17:45] felixmosh commented on #202
@jsbrain thank you 🙏🏼
I will review your approach at the up coming weekend.

[2021-02-16 17:54] #212 closed

[2021-02-16 17:55] felixmosh commented on #201
Closed by #231

[2021-02-16 17:55] #201 closed

[2021-02-16 18:18] felixmosh commented on #222
![image](https://user-images.githubusercontent.com/9304194/108104516-14b7e980-7094-11eb-9e3b-f08afdbfe867.png)

[2021-02-16 18:35] #222 closed

[2021-02-16 23:16] mannharleen commented on #230
Thanks for the reference. So It turns out that `stackTrace` item that bullmq stored on redis, is actually always an array (it stored more information than just the actual stacktrace). `job.moveToFailed` expects an error as the first argument. So I tried the following combinations:
[code]
So, `stacktrace?.length === 0` is never true !

My workaround for now is to create a new error object and mark

[2021-02-17 01:25] carlosmcp opened #233 "UI Crashs when queue list is empty"
When bull-board don't has any queue (with setQueues method) the bull-board UI crashs, as you can see in the image:
![image](https://user-images.githubusercontent.com/2428814/108142991-982e0680-70a5-11eb-8898-965ec77450ca.png)

[2021-02-17 07:49] felixmosh commented on #230
I'll create a PR that resolves this issue of array with null or ''

[2021-02-17 07:55] mannharleen commented on #230
I am happy to create the PR, if you d like me to instead.

[2021-02-17 08:12] #233 closed

[2021-02-17 08:16] felixmosh commented on #230
I've released the #235 fix in v1.3.1 can you check if this suits your need?

[2021-02-23 01:02] mannharleen commented on #230
all good.

[2021-02-23 01:02] #230 closed

[2021-02-23 01:03] mannharleen commented on #207
Even I have observed this behavior occasionally.  Is this reproducible?

[2021-02-23 01:10] mannharleen opened #237 "Open modal - for data"
Problem: Unable to view the complete content under the "Data" tab of "Completed" tab.

Possible solution: Instead of showing the "Data' with the scroll bar, provide a button to view Data that opens a modal with the Data.

This also will help provide a proper "reporting" table in the future; with columns like "added at", "process started at"  etc. (instead of the visual vertical line that is curren

[2021-02-23 05:07] felixmosh commented on #237
You have an inner scroll for it, is it not working?

[2021-02-23 05:18] mannharleen commented on #237
Inner scrolling is working, but causing bad user experience for long JSONs.

[2021-02-23 06:31] felixmosh commented on #237
It can be done, prs are welcome ;)

if you want to implement a modal component check out
https://radix-ui.com/primitives/docs/components/dialog

[2021-02-24 17:44] felixmosh commented on #119
@rodhoward is the issue was solved for your?

[2021-02-24 17:46] #213 closed

[2021-02-24 18:58] felixmosh commented on #72
@gebrits I will close it for now, if v1 doesn't solves it for you feel free to reopen the issue

[2021-02-24 18:58] #72 closed

[2021-02-24 19:03] #124 closed

[2021-02-24 19:04] felixmosh commented on #207
Can someone add a reproduction method?

[2021-02-24 21:12] #119 closed

[2021-02-24 22:29] eric-hc commented on #29
Has anyone solved this with recent versions of `bull-board`?

[2021-02-24 23:22] josmas commented on #207
I'll try and prep a script for this, but can't commit to an ETA at the moment.

My gut feeling, after having used this now for about 2 weeks on a more stable deployment, is that this is related to the data coming from the queue changing at rapid pace and forcing a render for some of the tabs.
I saw the unwanted refresh constantly during development, as we had a very high rate of blazing fast faili

[2021-02-25 11:29] felixmosh commented on #202
@jsbrain I've checked your suggestions, there is one problem with it, we are not restrict the type of Job generic type to one of supported types.

This means that you can pass any type as `Job` and it will accept it & explode on usages (if in your passed type there was no "real" method / property).

[2021-02-26 20:11] deanshub commented on #203
Hey man,
first of all, awesome project, helped me a-lot!
I tried version 1.4.1 but I still get the exception and the white screen
![image](https://user-images.githubusercontent.com/2688676/109350029-8572b900-787f-11eb-99f2-49452c02ec67.png)
Anything I can do to help?

[2021-02-26 20:52] felixmosh commented on #203
@deanshub  I'm glad it helps you!

I've tested this case (timestamp = null), and every thing is working as expected
Can you add here an entire queue object, so I will test with it?

[2021-02-27 07:30] deanshub commented on #203
[code]

[2021-02-27 18:06] felixmosh commented on #203
I've tried your json, and it loads as expected, (pay attention that the start time is 1970, since `timestamp` field is `null`)

![image](https://user-images.githubusercontent.com/9304194/109395840-283a3e80-7937-11eb-9707-dc66e905d572.png)

[2021-02-28 06:40] deanshub commented on #203
Sorry, GAing issues, thanks!

[2021-02-28 06:46] felixmosh commented on #203
So, it works? :)

[2021-02-28 07:23] deanshub commented on #203
Perfectly

[2021-02-28 07:24] deanshub commented on #203
I want to add A PR but not sure how it would best be implemented

[2021-02-28 07:24] deanshub commented on #203
I'll open a new issue so we can discuss it

[2021-02-28 07:31] #203 closed

[2021-02-28 07:33] deanshub opened #240 "Remove active job"
Feature Request:
Adding a delete action to active job

Sometimes it's helpful to delete active jobs from queue, specially when you have low concurrency

currently I have this code that does the job for me

[code]

But I would like to generalize it and add this as a feature to bull-board.

The issue with removing an active job is that you either mark it as complete or fail, and if you move it to fa

[2021-02-28 07:46] felixmosh commented on #240
Sounds like a great feature,  why do you think that it is a problem to allow a retry on "forced stop" jobs?

[2021-02-28 08:33] felixmosh opened #241 "Add confirm modal on "dangerous" actions"
We should confirm "dangerous" actions such as clear all / delete etc.

For confirmation modal component it is possible to use
https://radix-ui.com/primitives/docs/components/alert-dialog

[2021-02-28 09:51] deanshub commented on #240
because the UI says remove job, so it's not so much as remove as it is a "make job fail"

[2021-02-28 10:39] felixmosh commented on #240
The UI should say, "Stop job" (it is currently running)

[2021-03-01 10:20] jsbrain commented on #202
Hey @felixmosh, I don't really understand what you mean ... 😬
You mean my example doesn't allow both job types from bull and bullmq or what?

[2021-03-01 10:23] felixmosh commented on #202
The problem is that it allows any form of Job object (since it is not restricted). In order to restrict the generics, we should use `<Job extends BullJob | BullMQJob>` (but we can't since we don't want to use them :))

[2021-03-01 10:57] jsbrain commented on #202
No, Job will always refer to the Job object of the respecting library. As we would need to pass it to the generic shared functions as a type argument, the type of Job would always match the respecting library, hence being fully restricted.

Because of that, we would have to use two different entry point files, one for bull and one for bullmq that uses the generic types to resemble the final types

[2021-03-01 11:06] felixmosh commented on #202
A simple example,

If we write types like
[code]
This type accepts "all" object that will be passed... this means that someone will can
[code]

[2021-03-01 11:22] jsbrain commented on #202
Well yes but no, you didn't fully get the approach. This will be solved by the entrypoint files. Let me try to explain again:

Shared, generic types, functions, classes will live in `/lib/shared/*` for example. So the QueueAdapter could be defined as:

[code]

now let's define entrypoint A (bull):

[code]

and entrypoint B (bullmq):

[code]

now, the important step is to make sure that at final us

[2021-03-01 11:24] jsbrain commented on #202
That way, you could also get rid of the "double naming" interfaces like `BullMQAdapter` and `BullAdapter` and that stuff ... you won't need it anymore as the used Adapter will always reference the right adapter of the lib you installed automatically.

[2021-03-01 11:27] felixmosh commented on #202
Ha, you are correct! When it comes to lib consumers it will work perfectly.

I've spoke about all the places (internally) that uses `QueueAdapterGeneric`... they will need to specify the `Job` types.
We have 2 options
1. use the `Job | JobMQ` - won't solve our issue
2. pass a custom superset of Job - removes the whole point of generic usage, and won't be updated when `bull` / `bullmq` types will b

[2021-03-01 11:52] jsbrain commented on #202
Well in cases where the Job object will be used specifically and will require a different usage based on whether it is Job or JobMQ, that will partially be correct. But as far as I can tell, there are only a few cases where this holds true. For those cases, there have to be 2 functions, classes, for each library, which will be referenced again in the respecting entry point.

Other than that, you'l

[2021-03-01 12:17] felixmosh commented on #202
Will you able to make a compiling PR with your idea?
Thank you very much for the time you spend here 🙏🏼

[2021-03-01 12:27] felixmosh commented on #202
BTW, how would you annotate `QueueAdapterGeneric` usages [here](https://github.com/felixmosh/bull-board/blob/d3203d86aaf4845d425d55c723201acb8d45b8f1/src/%40types/app.ts#L50)?

[2021-03-03 11:27] dmythro commented on #223
I also had this one in the list of errors trying to upgrade the package from the older one with my NestJS application:

[code]

[2021-03-06 13:28] RRGT19 opened #242 "Using Bull: Cannot find module 'bullmq' or its corresponding type declarations"
## Bug Report

[code]

## Current Behavior
I'm using [NestJS](https://github.com/nestjs/nest) and [Bull](https://github.com/OptimalBits/bull) for queues.

I have installed:
[code]

I have followed the docs and I do:

[code]

After this, the error appears.

## Expected Behavior

Bull Board should know that I'm using Bull, not BullMQ.

## Environment

[code]

[2021-03-06 15:26] felixmosh commented on #242
Thank you for reporting this issue.

There is an open issue #202 that is the main thread to the issue you’ve described.

For a temp workaround, you can install bullmq as well.

[2021-03-06 15:26] #242 closed

[2021-03-11 17:03] Janpot commented on #223
@dmythro You can add `"skipLibCheck": true` to your `tsconfig.json` to fix this.

[2021-03-19 11:44] psytechno604 commented on #207
I can confirm the issue. Mac OS, Chrome Version 89.0.4389.90 (Official Build) (x86_64)

[2021-03-19 11:53] felixmosh commented on #207
@psytechno604 do you have any reproducible example / notes?

[2021-03-19 13:16] psytechno604 commented on #207
@felixmosh it is reproducible with your example - https://github.com/felixmosh/bull-board/tree/master/examples/with-auth

add some jobs, wait until some of them get complete or failed, open COMPLETED or FAILED tab, open "Options" of a job - on the next refresh iteration it will reset to "Data" tab

[2021-03-19 15:12] WoLfulus commented on #207
I think the problem here is how it's setting up the refresh. If you quickly switch tabs (like click in sequence active, delayed, errors), it will at some point refresh the old tab contents before refreshing the active selected tab (you can see this behavior from the network tab). After that it becomes a mess for me.

[2021-03-19 16:58] geminigeek commented on #207
Hi,

I guess clearing the tab/div/panel just after tab click can fix the issue before pulling data and showing !

[2021-03-22 10:31] felixmosh opened #245 "[Bug] Button Tooltips are not shown"
![image](https://user-images.githubusercontent.com/9304194/111976634-827b8900-8b0a-11eb-9b8c-8c42c8ad8073.png)

[2021-03-22 13:15] #97 closed

[2021-03-22 15:01] #245 closed

[2021-03-22 15:07] felixmosh commented on #141
Closing the issue, @ankitjena feel free to reopen if still relevant

[2021-03-22 15:07] #141 closed

[2021-03-22 18:37] nodepond commented on #157
Works! I tried it exactly this way with passport and a middleware, that checks if a user is logged in.

Auth via cookie works perfectly and (bull-board)calls are restricted, if user is not authenticated.

I just need this kind of auth for the "dashboard" in my app, so this went into the dashboardRouter

Like so:
[code]

[2021-03-22 19:26] felixmosh commented on #157
Did you checked the [login example](https://github.com/felixmosh/bull-board/tree/master/examples/with-auth)?

[2021-03-22 19:26] #157 closed

[2021-03-23 02:23] rodrigorz commented on #212
Hi @felixmosh, i am using AdonisJS (v5) and is there an example of what the adapter between adonis => express should look like?

I need to show bull-board on an authenticated route, handled by Adonis router.
😄

[2021-03-23 15:30] plakk2020 commented on #202
Following this issue. Is there a resolution?

[2021-03-24 08:08] felixmosh commented on #202
@plakk2020 you can install `bullmq` as your deps,
I Still didn't found any good solution...

[2021-03-24 10:19] jsbrain commented on #202
Hey @felixmosh, sorry I was super busy and then got quite sick 2 weeks ago. Now I have to catch up with the work of 2 weeks so I don't think I will be able to create a PR any time soon :/

[2021-03-24 10:20] jsbrain commented on #202
Like [so](https://github.com/jsbrain/bull-board/blob/1533c8ea179e2b9740cd1dccc58d8b9af0c3f490/src/%40types/app.ts#L37)

[2021-03-31 15:24] heiho1 commented on #227
The PR @carlosbaraza   mentioned above looked like a pretty simple fix for the pagination issue.  Is anyone actively working on pagination?  Seems like a glaring omission in the release.

[2021-04-01 06:02] hoangbn commented on #120
Are there any updates on this issue?

[2021-04-01 08:41] felixmosh commented on #120
Not really, I didn't encountered such issue.
I will be more than happy, that someone that can reproduce the issue will investigate it 🙏🏼

[2021-04-01 08:43] felixmosh commented on #227
I'm not aware of someone that works on it.
PR's are welcome 🙏🏼

[2021-04-05 16:55] noneedinmagic opened #247 "Issues when using modern BullBoard + Bull (not BullMQ) + TypeScript"
Hello! A few months ago I used `bull-board` (smth like 0.9.0) and it worked great.

Right now I've been setting it up in a new project and got into some issues. First of all I've discovered that I need to use `BullAdapter`. But after setting up almost everything by copy-pasting from the previous project I am still getting some errors:

[code]

As I can see, there are two problems:
1. It imports so

[2021-04-05 17:06] noneedinmagic commented on #247
Okay, sorry for not paying enough attention to existing issues

@dmythro You can add `"skipLibCheck": true` to your `tsconfig.json` to fix this.

_Originally posted by @Janpot in https://github.com/felixmosh/bull-board/issues/223#issuecomment-796890789_

This one actually solves the problem right now, but I am afraid that this is too hacky and may cause unexpected problems in future with skipping

[2021-04-06 07:36] felixmosh commented on #247
Closing since it is a duplication of #202

[2021-04-06 07:36] #247 closed

[2021-04-07 03:27] EugeneFoo opened #248 "How to integrate with sails.js?"
Hi,
Can I know is that possible to integrate bull board into our project which using sails js?
I've seen this issue for integrate 2 framework into a single project:

https://github.com/felixmosh/bull-board/issues/103

but I have no idea how to do it in sailsjs.

[2021-04-07 07:13] felixmosh commented on #132
I'm closing the issue since v1 was released sometime, feel free to reopen it if it is still relevant?

[2021-04-07 07:13] #132 closed

[2021-04-07 07:25] felixmosh commented on #248
There is no official support, you can make an adapter between sails.js => express as I've answered in https://github.com/felixmosh/bull-board/issues/212#issuecomment-752206341,

[2021-04-07 07:26] #248 closed

[2021-04-07 07:30] felixmosh commented on #212
Unfortunately, I'm not familiar with `Adonis`, so I can't help with it.

If you be able to create such adapter, I will more then happy to add an example with `Adonis.js` 🙏🏼

[2021-04-07 16:19] felixmosh commented on #247
BTW, You can install `bullmq` and not use it, the lib is just using its types.

[2021-04-08 13:18] mjborys commented on #207
I noticed that the refreshes correlate with an API query to fetch data, shown in the recording below (hopefully) with the network tab open so that you can see the effect. Sorry if this is all obvious, just wanted to provide some more info in case it's helpful.

I'm in Chrome Version 89.0.4389.114 (Official Build) (x86_64)
Bull-board 1.4.2
Bull 3.20.0

https://user-images.githubusercontent.com/7115

[2021-04-09 12:53] Axel-Coud commented on #112
Any updates on this subject ?
Would be a much needed addition to easily enable separation of business data/groups of users between instances

[2021-04-09 14:42] felixmosh commented on #112
I can't think of a simple solution for supporting several sets of queues per instance.

Any PR / idea is welcome :]

[2021-04-11 19:08] MeStrak opened #249 "Queues detected but not jobs"
Hi, I'm trying to run bull-board from the docker image (https://github.com/Deadly0/bull-board-docker).

I have started up the container, and my bull queues are detected:

![image](https://user-images.githubusercontent.com/31989238/114317572-02dd4a80-9b09-11eb-86b4-25e88377c668.png)

However, no jobs ever show in the UI. Running `.backgroundDataQueue.getJobCounts()` gives the following:

[code]

Bu

[2021-04-11 19:59] felixmosh commented on #249
I don't think that this is a bull-board issue. Pls open an issue in bull-board-docker repo, maybe the author may help you

[2021-04-11 20:49] MeStrak commented on #249
Ok thanks for checking - I've opened the issue in the docker repo, hopefully they can identify the problem.

[2021-04-11 20:49] #249 closed

[2021-04-13 20:39] ankur17 opened #250 "BullBoard: MIME type issue"
### Config
Env: `production`
works fine on dev and local

### Issue:
- Not able to see all the jobs, just shows `Loading...` text
- On window console giving error:
<img width="600" alt="Screenshot 2021-04-14 at 1 56 53 AM" src="https://user-images.githubusercontent.com/6452366/114616727-d40bd380-9cc4-11eb-9b1d-29ccfb8ea946.png">

- static `bundle.js` returns with the status 302
has `content-type:

[2021-04-14 09:00] felixmosh commented on #250
Hi, it seems like you are mounting / accessing the app from a wrong direction.

What is url that you are trying to access? open the html, what is the path that the js bundles point to?

[2021-04-14 20:50] Heartz66 opened #251 "cluster support list shuffle"
I am using bull-board inside a cluster. All requests to bull-board router are round-robin. Every request will shuffle the queue list on the UI. This can be solved by sorting the queue list on alphabetical order.

[2021-04-14 21:40] felixmosh commented on #251
PR is very welcome

[2021-04-17 05:07] brianschardt commented on #223
This is an issue for me. None of the fixes above worked

[2021-04-17 06:36] felixmosh commented on #223
@brianschardt  did you installed bull-mq as well?

[2021-04-17 13:58] brianschardt commented on #223
yeah i get this error
Step #0 - "Build": ../../node_modules/@types/react-dom/node_modules/@types/react/index.d.ts(2985,14): error TS2300: Duplicate identifier 'LibraryManagedAttributes'.
Step #0 - "Build": ../../node_modules/@types/react-dom/node_modules/@types/react/index.d.ts(2998,13): error TS2717: Subsequent property declarations must have the same type.  Property 'a' must be of type 'Detailed

[2021-04-17 19:12] felixmosh commented on #223
Try to make a clean install.

The issue is with duplicate react types

[2021-04-19 09:14] joseph1125 opened #253 "Wrong types in bull-board"
When I try to compile the following code, this error occurs

[code]

Error
[code]

It is caused by BullAdapter.getClient() returns `Promise<Queue['client']>` while Queue extends EventEmitter and setQueues only accept QueueAdapter[] and QueueAdapter.getClient returns `Promise<Redis.Redis>` (Redis.Redis is a type of ioredis)

Please fix the types definition if available, thanks.

[2021-04-19 14:45] felixmosh commented on #253
Thank you for notifying me 🙏🏼

PR's are always wellcome

[2021-04-21 07:15] felixmosh commented on #253
I've tested the code using `ts` entry, and it compiles fine.

1. Clone this repo `git clone git@github.com:felixmosh/bull-board.git`
2. Install dps `yarn install`
3. Run example with `yarn start:dev:server`

It works as expected.

[2021-04-21 07:19] felixmosh commented on #250
Any update?

[2021-04-21 07:19] joseph1125 commented on #253
I'm using typescript 3.9.2
my package.json also includes cache-manager-ioredis@2.0.0

[2021-04-21 07:24] felixmosh commented on #253
I've just tested it with typescript 3.9.2, still works.

[2021-04-21 07:27] joseph1125 commented on #253
![image](https://user-images.githubusercontent.com/8279406/115513744-01a0e000-a2b6-11eb-994f-b03db5ed8081.png)

[2021-04-21 07:39] joseph1125 commented on #253
I made the compilation working by the following steps

1. Git clone bull-board project
2. move all @types to devDependencies
3. yarn && yarn build && yarn link

Move to my project
1. Yarn remove bull-board
2. yarn link bull-board
3. yarn build

[2021-04-21 07:42] felixmosh commented on #253
No, it should be in dependency, since types are part of the public api of the package (for TS users) and we consume them.

From the error looks like your `ioredis` types are not matched.

[2021-04-21 07:48] felixmosh commented on #253
Yea

Yeah, but now you've lost a type safty as lib consumer.

I've made a clean new project that consumes `bull-board` using only `bull`, it works.

[2021-04-21 07:50] joseph1125 commented on #253
4.16.2

[2021-04-21 07:54] felixmosh commented on #253
What version of `bull`?

[2021-04-21 07:56] joseph1125 commented on #253
bull@3.22.0
bull-board@1.5.1
nestjs-redis@1.2.7
@types/ioredis@4.16.2

[2021-04-21 07:58] felixmosh commented on #253
BTW, did you tried to clean install the project? (to remove `node_modules` & `npm i`)

[2021-04-21 07:59] joseph1125 commented on #253
I did

[2021-04-21 08:02] felixmosh commented on #253
Try `v1.5.3` of bull-board.

Can you check the version of `node_modules/@types/ioredis` && `node_modules/bull/node_modules/@types/ioredis`?

[2021-04-21 08:09] joseph1125 commented on #253
node_modules/bull/node_modules/@types/ioredis: 4.14.9
node_modules/@types/ioredis: 4.16.2

tried 1.5.3, not working with another error message
[code]

[2021-04-21 08:15] felixmosh commented on #253
Weird... do you have `"esModuleInterop": true,` in your tsconfig.json?

[2021-04-21 08:16] joseph1125 commented on #253
yes, I did

[2021-04-21 08:29] felixmosh commented on #253
I don't understand why it install a different version of `@types/ioredis` for you...

Run `npm ls @types/ioredis`

I get
[code]

[2021-04-21 08:32] joseph1125 commented on #253
[code]

[2021-04-21 08:39] felixmosh commented on #253
I've downgraded the `bull` version to `3.15.0`, and I get the same install result.

[code]

Pls remove any **lock** files and reinstall you deps.

[2021-04-21 08:44] joseph1125 commented on #253
The issue is gone now and can be compiled now, thank you very much

[2021-04-21 08:48] #253 closed

[2021-04-21 22:02] jorgecuesta commented on #207
some new about this? @felixmosh

[2021-04-21 22:12] rudolfbyker opened #254 "Show multi-line logs properly."
Example code:

[code]

What the logs look like:
![image](https://user-images.githubusercontent.com/10025342/115627406-3b4a0900-a2ff-11eb-836e-702d7239fb43.png)

What the logs probably should look like (sort-of):
[code]

I also tried this, but it does not help:

[code]

[2021-04-22 06:21] felixmosh commented on #207
@jorgecuesta I'm not able to reproduce the issue in my local dev env :|

I will give it another try at the weekend

[2021-04-22 06:31] #254 closed

[2021-04-22 15:19] #207 closed

[2021-04-22 15:22] felixmosh commented on #207
Released at `v1.7.0`

[2021-04-22 20:21] felixmosh commented on #120
Probably solved by #256

[2021-04-22 20:21] #120 closed

[2021-04-22 20:34] felixmosh opened #258 "Feature: Dashboard page"
There are several requests for a single place that will summarize queues status, number of fails, etc...
Lets make a list of requirements from this page.

Design inspirations
![image](https://user-images.githubusercontent.com/9304194/115781404-fedfe100-a3c2-11eb-9b8f-5efa5627181a.png)

[2021-04-23 15:16] jorgecuesta commented on #207
thanks man!

[2021-04-24 11:28] felixmosh commented on #112
I've checked what `bull-master` does, and looks like it can be work with us :]

I just need more time to work on it.

[2021-04-24 19:16] abenhamdine commented on #112
It would be awesome ! 🎉

[2021-04-26 15:13] felixmosh commented on #251
@Heartz66 Thank you for the PR 🙏🏼

Can you elaborate on the reason u need to run `bull-board` in cluster mode?

[2021-04-27 07:35] felixmosh commented on #251
Closed by 6f2c487

[2021-04-27 15:26] #112 closed

[2021-04-27 15:26] #202 closed

[2021-04-27 15:28] felixmosh commented on #202
Released in v2

[2021-04-27 15:28] felixmosh commented on #112
Released in `v2.0.0`

[2021-04-27 15:31] felixmosh commented on #113
Pls check if `v2.0.0` which supports multiple instances solves your issue.

I will close for now, if it doesn't solved the issue feel free to reopen.

[2021-04-27 15:31] #113 closed

[2021-04-27 15:38] felixmosh commented on #33
`bull-board` is a "view" over the queues, it should not be part of the queue workers (which supposed to be lean & without any server).

In theory, since `bull-board` is only a "view" over the queues, it doesn't matter if it runs inside a cluster or no, what do I miss?
If someone has any working example which reproduces the problem I would be more the happy to help :]

[2021-04-27 15:39] felixmosh commented on #250
Closing since not active

[2021-04-27 15:39] #250 closed

[2021-04-27 16:08] felixmosh commented on #125
Since `bull-board` doesn't logs it's requests (it is not part of the code), this issue is not relevant to the lib.

You probably need to disable logs with in logging plugin (as @sayanriju mentioned it is possible in `Morgan`).

Closing since it is not related to the lib.

[2021-04-27 16:08] #125 closed

[2021-04-27 18:08] felixmosh commented on #223
@Heartz66 did you managed to solve this?

[2021-04-27 18:23] felixmosh commented on #115
@jadkins89, Is this issue still relevant

[2021-04-28 03:20] jadkins89 commented on #115
@felixmosh I haven't been using bull-board recently because of a change in tech stacks but when I was working with bull, these features were niceties that would make my UX better.

To be honest I started using bull-master to be able to have multiple dashboards for different environments hosted from the same server. I saw you recently looked into doing this. I would proritize

[2021-04-28 04:24] felixmosh commented on #115
Multiple instances were added at v2 :)

[2021-04-28 06:44] Diluka opened #262 "feature: add an option to change path route to hash route"
this feature is to solve the undetermined mount path which base href can not be set by PROXY_PATH

[2021-04-28 07:21] felixmosh commented on #262
Hi @Diluka,
Can you pls elaborate regarding the issue you have?

[2021-04-28 07:56] Diluka commented on #262
@felixmosh for example, if the bull-board page mounted on both `/abc/bull-board` and `/xyz/bull-board`. how to set the `req.proxyPath`? but if using hash route, the base href set to `./` is OK

[2021-04-28 08:02] felixmosh commented on #262
`v2.0.0` supports multiple instances by default, check [with-multiple-instances](https://github.com/felixmosh/bull-board/tree/master/examples/with-multiple-instances) example :]

[2021-04-28 08:09] Diluka commented on #262
it's not multiple instances. just one instance behind a nginx. but mount path is unknown.

[2021-04-28 08:23] felixmosh commented on #262
Ha, then it is a super custom setup, and I don't think that hash routes are a feature that we should support.

Since you are proxying the same app you can pass the basePath as an **header**, and then set `req.proxyUrl` value based on it.

[code]

[code]

[2021-04-28 08:38] Diluka commented on #262
thanks, I'll consider this.

[2021-04-28 08:38] felixmosh commented on #262
Can we close it? :]

[2021-04-28 08:42] Diluka commented on #262
of course

[2021-04-28 08:45] #262 closed

[2021-04-28 09:39] felixmosh commented on #136
Closed by #77

[2021-04-28 09:39] #136 closed

[2021-05-01 21:15] Heartz66 commented on #251
I'm using bull-board on a node application running within a kubernetes cluster. Your most recent commit unfortunately does not solve this issue.

This issue occurs because queues are dynamically registered whey they become neccesary in the application.

![demo](https://user-images.githubusercontent.com/8833887/116795119-e498b800-aad2-11eb-8469-2c950ed2b399.gif)

[2021-05-01 23:58] zxpectre opened #264 "Feature: set default tab in BullAdapter settings"
Greate project already! Simple suggestion for non technical users UX:

If only one could set the default open tab in BullAdapter settings, for example to "logs" instead of data, a non experienced user could find the UI usefull and understandable enough. We devs love json in data and error tab but humans don't haha. Just simple stupid suggestion I could use with my team.

const lastOne="also maybe

[2021-05-02 05:52] felixmosh commented on #251
@Heartz66

[2021-05-02 05:57] felixmosh commented on #264
Thank you for the suggestion, I'm not sure if this feature has a lot of demand, let's see if so, I will implement it.

If it is crucial for you, you can make a PR :]

[2021-05-02 13:57] Heartz66 commented on #251
I dynamically create Bull queues and insert them into bull-board, the timings are totally different on each application within the cluster.

If I can retrieve all the queues currently registered on the bull-board instance, I could also simply add the queue to the list and sort it everytime I add a queue to the bull-board instance.

[2021-05-02 14:13] felixmosh commented on #251
You can query `redis` directly with `KEYS bull:*:id` (based on https://github.com/OptimalBits/bull/issues/334) and then insert it to `bull-board`

[2021-05-02 22:01] Heartz66 commented on #251
This does the job as well, thank you very much.

[2021-05-03 04:35] #251 closed

[2021-05-04 12:23] felixmosh opened #265 "Feature: Allow using different server frameworks"
There are several issues (#225 #212 #29 #103 #248 ) related to the fact that `bull-board` is coupled to `Express.js` as server framework.

The idea is to refactor the code to be framework agnostic & expose framework specific adapters

[2021-05-04 15:09] melalj opened #266 "Add new job from within bull-board?"
Thanks for developing and maintaining this tool.

Is there a way to trigger a queue right on bull-board?

[2021-05-04 15:20] felixmosh commented on #266
What do you mean by "trigger"?

[2021-05-04 16:22] felixmosh commented on #266
Nope, It is not the responsibility of this lib.

You control your queues.
There is not good reason to make it available from the UI (if you think differently please share your thoughts)

[2021-05-05 02:26] s-r-x commented on #266
it is possible in [bull-monitor](https://github.com/s-r-x/bull-monitor)

[2021-05-05 02:31] s-r-x commented on #227
Maybe you will like [bull-monitor](https://github.com/s-r-x/bull-monitor)

[2021-05-05 06:45] felixmosh commented on #227
@s-r-x it is not cool to publish your self here :|

[2021-05-05 13:53] melalj commented on #266
I'm using bull-board to monitor all queues, some of them are triggered manually to sync a dataset for example.
I made a workaround waiting to have it natively on bull-board:

[code]

Well done @s-r-x, it's a fresh new project!

[2021-05-07 21:08] AlexZeDim opened #271 "TS2322: Type 'BullMQAdapter' is not assignable to type 'BaseAdapter' (Wrong Types)"
Hi!

I got almost the same issue, as it was mentioned a while ago in this report #253. Unless old things don't help me.

**Node.js: 16.1**

`package.json`

[code]

As you may see, I am using `bull-board` with `nestjs`. Here is a code image with error description:
![image](https://user-images.githubusercontent.com/907696/117508359-1ad1ae00-af91-11eb-91ad-445a0864f769.png)

Part of `tsconfig.json` r

[2021-05-07 21:23] AlexZeDim commented on #271
After some investigation I have checked that the problem was created by the following string `abstract getClient(): Promise<Redis.Redis>;` in `bull-board\dist\queueAdapters\base.d.ts` file.

I removed `.Redis` and the result string:15 in method `getClient()` with: `abstract getClient(): Promise<Redis>;` gives me no error at last.

If so, a pull request with this change is comings.

[2021-05-08 10:05] felixmosh commented on #271
Thank you @AlexZeDim ... But seems that your fix failing on CI.

Try to remove @types/bull-board from your project since we ship the lib with built in types

[2021-05-08 12:00] AlexZeDim commented on #271
I have tried with and without it. Unfortunately, it doesn't help. As for the fix, I modify the compiled dist folder in my own form (not this PR) that's why I don't receive any errors from TS.

For example <Redis> only:

![image](https://user-images.githubusercontent.com/907696/117538246-f667e700-b00d-11eb-9495-e96d8f8d30f2.png)

And `<Redis.Redis>`

![image](https://user-images.githubusercontent.c

[2021-05-08 12:46] felixmosh commented on #271
It is a confusion of types... not related to this lib.

can you try a fresh install? (removing `node_modules` & `package.lock`/`yarn.lock`)?

[2021-05-08 13:30] AlexZeDim commented on #271
Already done it too with `yarn` and `npm` with and without docker build. The problem related with `BullMQAdapter` and `BaseAdapter` class and their `getClient()`.

[2021-05-09 07:36] felixmosh commented on #271
Thank you for reporting this issue, I was able to reproduce the issue update updating types to latest 🙏🏼

[2021-05-09 07:36] #271 closed

[2021-05-09 07:39] felixmosh commented on #271
Fix released at `v2.0.3`

[2021-05-10 05:05] fillon opened #274 "Feature: Add ability to add a custom link (back to dashboard)"
Hi,

Is there a way to set up a 'back link' to exit Bull Dashboard ?

[2021-05-10 06:29] felixmosh commented on #274
What do you mean by back?

[2021-05-10 07:16] fillon commented on #274
We have an admin dashboard and one of our menu option go to BullDashboard page.

We would like to find a way to insert a link to get back to our main admin dashboard.

[2021-05-10 07:34] felixmosh commented on #274
Got it, it is possible.

I'm currently working on a big refactor (#265) which should be done soon.
If this feature is crucial for you I will happily review a PR with it :]

[2021-05-10 07:37] fillon commented on #274
It's not crucial... just a handy feature to have down the track :-)

[2021-05-14 06:10] Deadly0 commented on #258
@felixmosh exprected to see dashboard looks like it was in version 0.x where were list of all queues and task statuses in one page.

[2021-05-17 12:57] MatayoshiMariano commented on #227
Any updates on this? Having the same issue!

[2021-05-17 12:57] MatayoshiMariano commented on #114
@felixmosh any updates on this?

[2021-05-17 13:07] felixmosh commented on #114
Not yet, I'm working on #265, it consumes some time from me.

[2021-05-17 13:21] MatayoshiMariano commented on #227
@felixmosh can't we just use https://github.com/felixmosh/bull-board/pull/191?

[2021-05-17 15:40] felixmosh commented on #227
Unfortunately no, since it is very outdated PR

[2021-05-17 16:27] MatayoshiMariano commented on #227
@felixmosh but is no good rebasing it?

[2021-05-17 17:19] fogine opened #276 "Feature/ add jobs tab with statuc 'stuck'"
There is missing tab in queue page with jobs that are in `stuck` status.. It should be possible to clean/restart those..

[2021-05-17 19:40] felixmosh commented on #276
Sounds like reasonable

PR is always welcome

[2021-05-17 19:55] felixmosh commented on #227
No, we had a major refactor since then...

You are welcome to make a mergable PR

[2021-05-17 20:09] MatayoshiMariano commented on #227
Got it! Thanks @felixmosh

[2021-05-19 07:30] felixmosh opened #277 "Feature: Add support for the new Flow method of bullmq"
BullMQ added a Flow method with `waiting-children` status.

It can be cool to add support for this, and maybe add links to the parent job

[2021-05-26 06:35] peon-root commented on #271
can we fix this for those on v1.*? It is still present in 1.7.2

[2021-05-26 07:05] felixmosh commented on #271
Why do you not updating to v2?

The breaking changes are minor

[2021-05-29 11:51] #103 closed

[2021-05-29 11:51] #265 closed

[2021-05-29 14:33] felixmosh commented on #103
With `v3.0.0` you can use the `hapi` adapter of bull-board :]

[2021-05-29 14:37] felixmosh commented on #29
Since `v3.0.0` of `bull-board` it is possible to add server adapters pretty simple, I didn't prepared a `koa` adapter since I'm not familiar with it.

PR's are always wellcome

[2021-05-29 16:38] felixmosh commented on #212
Since v3.0.0 it is easy task to write adonis.js adapter.
Ping me if you need some help :)

[2021-05-29 20:04] felixmosh commented on #248
With `v3.0.0` you can write an adapter for sails.js.

PRs are welcome

[2021-05-31 16:57] melalj opened #282 "Retrieve job details by ID?"
It seems that there are not pagination to look for a specific job.
I'd like to debug and see the logs of a specific job by its Id - but couldn't find a way.

any idea?

[2021-06-01 04:52] antirek opened #283 "Queue jobs: active/failed count in list"
I have a lot of queues. For fast view failed jobs - scroll list and select problem queue.

![Screenshot](https://user-images.githubusercontent.com/324436/120268113-714fb500-c2cf-11eb-941b-791ccef0282b.png)

[2021-06-01 06:21] felixmosh commented on #283
Hi @antirek
This request was discussed multiple time, we decided to put a quick overview in a special dashboard page (#258)

I will close this issue since it is a duplicate request.

If this issue is super important for you, you are welcome to prepare a PR for a dashboard page, it can be something simple, and we will refactor it as needed. :]

[2021-06-01 06:21] #283 closed

[2021-06-01 07:12] felixmosh commented on #282
Hi @melalj, thank you for opening this issue.

Adding Pagination(#227) to the UI is my next task. for the meanwhile you can call the specific API manually and you will get the job's logs.

[code]

[2021-06-01 07:14] felixmosh commented on #225
Since `v3.0.0` bull-board supports fastify natively, check the [`with-fastify`](https://github.com/felixmosh/bull-board/tree/master/examples/with-fastify) example

[2021-06-01 07:15] felixmosh commented on #282
Closing this issue since it is relate to Pagination task

[2021-06-01 07:15] #282 closed

[2021-06-01 08:31] antirek commented on #283
Thanks,
dashboard - cool idea!

[2021-06-01 13:56] felixmosh opened #284 "Feature: Add static online demo page"
We can use ioredis_mock & msw for mimic redis + server responses.

[2021-06-01 15:39] #29 closed

[2021-06-02 08:56] felixmosh opened #286 "Bug: Failed job not shown as failed in `Latest` tab"
When in `latest` tab, failed job not showing Errors + red progress bar.

[2021-06-02 11:53] #37 closed

[2021-06-02 11:53] #114 closed

[2021-06-02 11:53] #227 closed

[2021-06-02 11:56] felixmosh commented on #115
pagination was added in `v3.2.0`

[2021-06-02 14:31] felixmosh commented on #142
@yathomasi did you managed to solve this?

[2021-06-02 14:32] #223 closed

[2021-06-02 14:35] AntoineMaitre opened #289 "@bull-board/api@3.1.0 typings error"
Hello,

First of all thank you for what you have implemented so far on this project 👍

I encountered the following errors in CI environment:

[code]

It looks like the imports of the typings are referencing the source code instead of the built one, or am I missing something ? 🤔

Thanks in advance for your insights !

[2021-06-02 14:39] felixmosh commented on #289
What is the code you are trying to compile / run?

[2021-06-02 14:42] AntoineMaitre commented on #289
I've just updated the title with the version, if this is what you're asking about, it is `@bull-board/api@3.1.0`

[2021-06-02 14:44] felixmosh commented on #289
Can you share the code that uses `@bull-board`?

[2021-06-02 14:55] AntoineMaitre commented on #289
I'm using `NestJS ^7.5.1` by the way, here's the code:

[code]

Let me know if it helps,

[2021-06-02 14:57] #289 closed

[2021-06-02 15:17] felixmosh commented on #289
Thanx for pointing out this issue, looks like it will be solved in the next release (`v3.2.4`)

[2021-06-02 15:25] felixmosh commented on #289
@AntoineMaitre can you confirm that `v3.2.4` solved your issue?

[2021-06-02 15:33] yathomasi commented on #142
@felixmosh  Sorry I didn't reply on previous comment. What I did was I put a flag on environment. And then I would change that if I would like to access the UI borad on server.
It was just a workaround that would worked for me.
I just checked, looks like updated version has some sort of authentication placed. I haven't tried myself but I think that would work.

Thank you for adding that. 🙏

[2021-06-02 15:44] AntoineMaitre commented on #289
Thanks for your quick reply and release 🚀

`3.2.4` Solved the previous error, but there's a new one though:

[code]

[2021-06-02 15:59] felixmosh commented on #289
Checking....

[2021-06-02 16:44] felixmosh commented on #289
Can you test `v3.2.5`?

[2021-06-02 16:48] AntoineMaitre commented on #289
`v3.2.5` fixes the compiling errors 🚀

Thank you very much for your reactivity, and nice job !

[2021-06-03 05:14] felixmosh commented on #142
There is no built-in authentication, but it is possible to do.

Can we close this issue?

[2021-06-06 11:09] #142 closed

[2021-06-07 07:42] #286 closed

[2021-06-07 08:00] #211 closed

[2021-06-07 15:06] Zikoel opened #294 "clean all delayed jobs can finish on inconsistent state"
Hi,

Maybe I'm wrong but I notice that if you clean all delayed jobs this doesn't remove repeatable jobs. This is not an expected behavior because if you ask to bull for repeatable jobs it returns your jobs but that repeatable will never run again because the delayed counterparts are deleted. I think this is an inconsistent state for bull,
I'm not sure here what is the best things to to, maybe one

[2021-06-07 15:49] felixmosh commented on #294
I'm not sure regarding that, but sounds like bull should handle this... This lib calls  bulls queue.clean, if it doesn't remove all the parts it is bull's bug.

Wdyt?

[2021-06-15 21:41] lukepolo opened #297 "Error: Cannot find module 'ejs'"
When building for production and running, we run into an issue that it cannot find the `ejs`.

It seems relevant to : https://github.com/expressjs/express/issues/910

I think I will also have an issue with the static assets path (I can by copying over the static assets, but not the paths)

A simple test is to use webpack , do a build , copy the dist to a folder and try running it. (It should fail)

[2021-06-15 22:35] felixmosh commented on #297
Can you elaborate on your setup / versions

[2021-06-16 01:14] lukepolo commented on #297
I’ll make a repo here tmw

[2021-06-16 13:50] lukepolo commented on #297
Here is a test repository

https://github.com/lukepolo/bull-board-build-bug

[2021-06-16 14:26] lukepolo commented on #297
I was able to get it to work by adding

`app.engine('ejs', require('ejs').__express);`

[code]

I was going to go change it , but master seems to be pretty different than the latest version published on NPM

[2021-06-16 15:21] felixmosh commented on #297
Yeah, you are using v2.

You can make a PR against the latest v2, or try the version ;)

[2021-06-18 19:10] leonardofs commented on #100
Is posible add this feature to roadmap ?

[2021-06-18 19:55] felixmosh commented on #100
It is possible to add, we need to spec it...

[2021-06-20 09:20] #297 closed

[2021-06-20 09:22] felixmosh commented on #297
I've fixed it at `v3.2.9`

Try it :]

[2021-06-20 13:57] lukepolo commented on #297
Oh snap! Your awesome!!!

[2021-06-22 05:59] PengWeibin-Mars opened #298 "The page layout format is messed up"
![image](https://user-images.githubusercontent.com/84702092/122871702-faec2300-d361-11eb-97fd-dbb3e61e0982.png)

[2021-06-22 06:33] felixmosh commented on #298
Can you inspect the cause? Or make a reproducible example?

[2021-06-22 07:06] PengWeibin-Mars commented on #298
![image](https://user-images.githubusercontent.com/84702092/122879416-71d9e980-d36b-11eb-8eea-c3b7694a8a01.png)

[2021-06-22 07:07] PengWeibin-Mars commented on #298
I think it should be caused by the text being too long without wrapping

[2021-06-22 07:15] PengWeibin-Mars commented on #298
I think it should be caused by the text being too long without wrapping

[2021-06-22 07:23] felixmosh commented on #298
Ha, cool, I will look into it, thanx.

[2021-06-22 07:27] PengWeibin-Mars commented on #298
Okey, Thank you

[2021-06-22 07:31] PengWeibin-Mars commented on #298
Hi @felixmosh ,I want to ask whether it currently supports displaying all bull Queues in a certain Redis service (do not specify QueueName)

[2021-06-22 07:44] #298 closed

[2021-06-22 07:46] felixmosh commented on #298
Does this answers your question? https://github.com/felixmosh/bull-board/issues/251#issuecomment-830816052

[2021-06-22 07:47] felixmosh commented on #298
The layout fix was published as`v3.2.10`

[2021-06-22 08:07] PengWeibin-Mars commented on #258
@felixmosh  Is it possible to use Chart.js (https://www.chartjs.org/docs/latest/samples/bar/vertical.html) as the UI of the dashboard

[2021-06-22 08:23] felixmosh commented on #258
Thank you for the suggestion, looks like a cool chart lib :]

[2021-06-22 14:47] felixmosh commented on #294
Ping?

[2021-06-22 17:07] lukepolo commented on #297
It worked!!!! Even moving it to a different folder. Great work. thanks!!!!

[2021-06-23 16:48] thehammeredone opened #300 "Cannot load UI when Node.js process run from a different directory"
## Problem:
For our Node server, we were actually running the process one directory up from the server, and calling `node server/server.js`, which meant that the bull-board express adapter was looking for the `node_modules` folder one level higher than where it actually existed (in `./node_modules` instead of `./server/node_modules`, and we got an error about
[code]
when attempting to view the bul

[2021-06-23 19:43] felixmosh commented on #300
Thank you for reporting this issue, I'll review possible solutions for it

[2021-06-23 20:24] #300 closed

[2021-06-23 20:26] felixmosh commented on #300
Fixed in `v3.2.11`

[2021-06-24 14:02] thehammeredone commented on #300
Most excellent!

Thank you!

[2021-06-26 16:16] SqueezedLight commented on #250
Hi guys, i'm experiencing the exact same issue. Any ideas? @ankur17 did you solve the problem? Strange thing is it suddenly stopped working without any changes. I'm using (with 3.2.11):
[code]

[2021-06-26 16:41] felixmosh commented on #250
@SqueezedLight can you provide more info?

[2021-06-26 17:14] SqueezedLight commented on #250
It seems it somehow collides with other routes. If i rename the base path to `/x/queues` everything works. The irritating thing was, that the vendor bundle was available. But the js and css files were not found/available.

[2021-06-26 17:55] felixmosh commented on #250
I'm glad that this solved, if you have any additional info I will happy to help :]

[2021-06-28 07:14] PengWeibin-Mars commented on #258
Hey @felixmosh ,When is this feature expected to go live

[2021-06-28 07:19] felixmosh commented on #258
I don't have an estimation time, this is an open source project, You can contribute to it :]

Any PR regarding this feature is welcomed

[2021-06-28 11:26] #241 closed

[2021-06-28 16:03] #155 closed

[2021-06-28 16:04] felixmosh commented on #115
Closing since all the features are exists

[2021-06-28 16:04] #115 closed

[2021-07-16 16:01] AgentSource opened #303 "V3 not working with NestJS"
I'm running into an issue where is appears the serverAdapter isn't handling req as expected — I just simply get a 404. I setup a basic example Stackblitz => https://stackblitz.com/edit/nestjs-starter-demo-gvfxkh

I was using v1.5.1 before - here is was my working `main.ts`

[code]

I migrated to v3.3.0 yesterday and have no very little luck with getting `ExpressAdapter` working correctly. Here is

[2021-07-16 16:39] felixmosh commented on #303
You forgot to initiate the `bullBoard` it self :]

[code]

[2021-07-16 18:05] AgentSource commented on #303
@felixmosh thanks for the quick reply. I think I might be misunderstanding how to setup / init `createBullBoard`.

Currently I have 7 different queues — 3 are in a controller and the other 4 are in services...

My setup in v1.5.1 was

[code]

Based on what is in the examples for v3.3.0 I just changed it to this

[code]

Correct me if I'm wrong here but I want to `createBullBoard` in my `main.ts` t

[2021-07-16 18:18] felixmosh commented on #303
You are correct :]

[2021-07-16 18:58] AgentSource commented on #303
Ok i'm completely stubbed on how to correctly access the queue...

There is `setQueues` on the `ExpressAdapter` but that doesn't appear to be what I want.

There is `addQueue` on `createBullBoard` but I have already init that but its in my `main.ts` which is boostrapped in...

I'm have to be missing something super simple here...

[2021-07-17 08:05] felixmosh commented on #303
Can you access your queues in the main.ts file? If so, create an instance of serverAdapter call createBullBoard with it & your queues, if they are not accessible there, createBullBoard returns addQueue method like previous versions did, share it somehow.

Hope it helps.
If not, prepare a simple stackblitz, and I will try to help you.

[2021-07-19 09:10] felixmosh commented on #303
Did you managed to solve this?

[2021-07-19 19:24] AgentSource commented on #303
@felixmosh sorry busy weekend I'll kick that around today and let you know

[2021-07-20 16:22] AgentSource commented on #303
@felixmosh finally got some time to flush this out, let me know what you think.

- Created a class to act as a pool for my queues

[code]
- In my `main.ts` I get my queue pool and loop over it and call `addQueue`

[code]
I just import my class and add my queue pool => `queuePool.add(updateQueue)` — not perfect but gets the job done

[2021-07-20 16:22] #303 closed

[2021-07-21 02:07] felixmosh commented on #303
It looks good to me 👍

[2021-07-23 10:10] samuelcastro opened #304 "How to setup it up with Nest.js"
I can't a way to set bull board with nest.js, is there any documentation about it? Could you help me?

Thanks.

[2021-07-23 11:15] felixmosh commented on #304
I would happy to help you, but first check this out...
https://github.com/felixmosh/bull-board/issues/303

[2021-07-23 17:09] samuelcastro opened #305 "Jobs only return 11 items in UI"
I'm using the version v2.1.3 and for whatever reason only returns 11 items even though I have several jobs in progress.

<img width="809" alt="Screen Shot 2021-07-23 at 10 06 12 AM" src="https://user-images.githubusercontent.com/5281701/126817211-396266fe-4763-43e4-823e-517f5231ffd7.png">

How do I return all jobs per request rather than just 10?

I know that newest version does support pagination

[2021-07-23 18:20] samuelcastro commented on #305
I ended up forking the project and changing it to return more jobs per page: https://www.npmjs.com/package/@samuelcastro/bull-board

[2021-07-23 18:20] #305 closed

[2021-07-23 22:03] felixmosh commented on #305
Try v3 which includes pagination

[2021-07-29 14:51] saurabh-lodha-16 commented on #305
hey @felixmosh
Thanks for making this amazing library. been using this since a month.
I see that we released the v3 version.
I wanted to know how should we try it ? The NPM/yarn dashboard still has the 2.1.3 version so wanted to confirm this with you.
Thanks :pray:

[2021-07-29 15:00] felixmosh commented on #305
Read the [readme](https://github.com/felixmosh/bull-board#starting)
[code]

[2021-08-03 11:56] remy opened #307 "clean gives a 404 - suspect jobId with "/" character"
I've got job names that include a slash character, such as `user/234` and `server/2` and when I try to clean tasks individually, it fails with a 404.

I suspect it's due to the slash character, but not sure where to start to confirm. Would this be a matter of escaping the jobId before using in the URL?

Example `PUT` request (note that my UI is on `/q`):

[code]

[2021-08-03 12:13] felixmosh commented on #307
It can happen :]

[2021-08-03 13:52] #307 closed

[2021-08-03 13:54] felixmosh commented on #304
Did you managed to integrate?

[2021-08-03 14:00] felixmosh commented on #307
fix Released in `v3.3.3`

[2021-08-03 14:59] #214 closed

[2021-08-03 14:59] felixmosh commented on #214
This feature is added at `v3.4.0`.

![image](https://user-images.githubusercontent.com/9304194/128036264-9137310c-b8d6-4b6e-9705-6ca3bc9b9a8f.png)
![image](https://user-images.githubusercontent.com/9304194/128036320-e405aa90-ac1a-4f71-a67e-b3c8704f7495.png)

[2021-08-05 13:47] lukepolo opened #310 "Production Build Issue with Webpack"
I created a ticket in webpack and basically said to fix it id have to re-write part of that part that reads from the path

https://github.com/webpack/webpack/issues/13931

I can try to tackle this in a few days

[2021-08-05 13:58] felixmosh commented on #310
Thank you for reporting the issue, can you elaborate what is the issue?

I'm working with `bull-board v3.4.0` in production and it works perfectly.

[2021-08-05 14:02] lukepolo commented on #310
Yah when running in production mode for some reason with this webpack config i get that error

https://github.com/lukepolo/webpack-resolve-bug/tree/main/dist  is the reproduction

[2021-08-05 14:45] felixmosh commented on #310
Thanx, i will check it out

[2021-08-05 17:52] tiberiu89 opened #311 "Development environment on HTTP"
Hi, I recently upgraded this library and adapted it to run inside a nestjs controller.

The issue I have is related to the static files it tries to load after loading the main URL. It seems it defaults to https:// by default, but usually on dev there are times when the project is setup without SSL.

Is there a way to tell it to use the same schema as the domain it is running on? Shouldn't this be

[2021-08-06 03:53] felixmosh commented on #311
Thank you for reporting this issue 🙏🏼

Can you add some more details, what files are the problematic ones?

[2021-08-06 06:31] tiberiu89 commented on #311
![image](https://user-images.githubusercontent.com/42996791/128465098-66b9b8c4-f145-45e2-8dbc-8700a8c22180.png)

![image](https://user-images.githubusercontent.com/42996791/128465234-87c9a5c9-3e82-4119-a215-5df0637c3bb8.png)

I know my routes are setup correctly because if I take that last URL and use it with http it loads the resource.
This is my current setup in a NestJS controller. I use wildca

[2021-08-06 09:47] felixmosh commented on #311
I've checked the entire code base, it is not setting anything with schema (`http` / `https`).

this is how the HTML file looks like:
[code]

There is no schema in the HTML.

Can you share your HTML?

[2021-08-06 10:04] tiberiu89 commented on #311
@felixmosh

Hmm, weird, I will double check this. Might be so that browser is automatically using secure connection when loading resources? I'll give this a closer look, because I'm certainly running on http only. And from what you pasted above I agree, begin a relative path, it should use the domain and schema it was called from.

Thanks for your help!

[2021-08-06 10:20] felixmosh commented on #311
By dev environment, do you refer as for developing bull-board it self?
Because when you are using `bull-board` npm package, it is already "compiled" and ready to prod usage, and the HTML will look like I've mentioned.

If you can post here your HTML file, we will be able to detect the issue.
Anyhow, there is small issue in your snippet, instead of creating each request a new express app, create an

[2021-08-06 10:22] tiberiu89 commented on #311
Yes, it is related to Content-Security-Policy. It seems the browser uses upgrade-insecure-requests by default. If I manually change the header to remove that option, it loads correctly. So as a workaround for dev environments, this header option can be disable, maybe based on a NODE_ENV variable

[2021-08-06 10:23] felixmosh commented on #311
Is this `Content-Security-Policy` header comes from `bull-board`?

[2021-08-06 10:24] tiberiu89 commented on #311
no, the issue can be closed as it is not related. Most probably browser policy to make sites more secure.

Thanks anyway for pointing me in the right direction

[2021-08-06 10:24] #311 closed

[2021-08-06 10:30] tiberiu89 commented on #311
Here's the updated code in case anyone is having the same issue

[code]

[2021-08-06 10:41] #310 closed

[2021-08-06 10:44] felixmosh commented on #310
Fix released in `v3.4.1`

[2021-08-06 11:24] Jivings commented on #258
I would prefer proper bar charts rather then wheels to show things like response/execution times and throughput during a day.

I might have some time to work on this as I will definitely make use of it!

[2021-08-06 13:04] lukepolo commented on #310
your amazing. thanks!

[2021-08-07 16:40] asomethings commented on #303
[code]

This should work too.

[2021-08-08 05:13] felixmosh commented on #304
Check the thread I've linked to, it has 2 examples.

[2021-08-08 05:13] #304 closed

[2021-08-09 07:23] koresar commented on #33
I have an example.

1)
start redis cluster:
[code]
default port is `30001`.

2)
Create ioredis connection like this:
[code]

3)
Use the connection above to create BullMQ queue.

4) Try opening the bull-board.
You get exceptions like:
[code]

The error above is thrown by this `await`:
[code]

I have no idea how to fix that.

[2021-08-09 08:13] felixmosh commented on #33
The code the throws is related to BullMQ, no?

If so, this is not bull-board bug.

[2021-08-09 09:06] koresar commented on #33
Oh. Right. Indeed. The code I referenced above is in BullMQ's `queue-getters.js` file.

[2021-08-09 12:02] Jivings opened #314 "Update version on npm"
Looks like the version on npm is still v2.1.3. Can we update it to the latest?

https://www.npmjs.com/package/bull-board

[2021-08-09 12:07] felixmosh commented on #314
Pay attention that since v3 `bull-board` is published under [`@bull-board`](https://www.npmjs.com/org/bull-board) npm scope.

![image](https://user-images.githubusercontent.com/9304194/128703664-f26b9add-5331-4d15-ae81-5d177c187745.png)

[2021-08-09 12:07] #314 closed

[2021-08-09 12:08] Jivings commented on #266
@felixmosh how about the ability to replay a completed job in the same way you can retry a failed job. The action would just add a new job with the same data as the previous.

That makes a bit more sense in the context of this library.

[2021-08-09 12:10] Jivings commented on #240
In Bull does called `moveToFailed` actually kill the active process?

[2021-08-09 12:12] Jivings commented on #314
Ah, I've been using my own fork until now. Didn't notice! Thanks

[2021-08-09 12:17] felixmosh commented on #266
I don't think that it should be as part of "retrying" of completed job.

I don't see any good reason for a usage of such requirement, as I've mentioned above, `bull-board` is a view over the queue, it doesn't make sense to it to add new jobs (even though it is possible).

If there are many requests for it, we can add it.

[2021-08-11 15:42] Jivings opened #316 "Why are jobs sorted ascending?"
I noticed that recently jobs are sorted asc (https://github.com/felixmosh/bull-board/commit/6ed2f820f5d301efe4cf635db79cc7d4f55e9941)

What's the reason for this? It's strange that on the dashboard I have to go to the final page and then scroll to the bottom in order to see the latest complete job.

<img width="1144" alt="image" src="https://user-images.githubusercontent.com/1462828/129060311-1936

[2021-08-11 19:33] felixmosh commented on #316
It is make sense to sort active & failed tabs in asc order, but I agree that completed tab should by sorted in desc

[2021-08-11 22:10] Jivings commented on #316
Maybe this could be an argument to the adapter? I'd much rather have the most recent of every job be the most accessible, as it's usually what I'm interested in.

[2021-08-12 04:34] felixmosh commented on #316
Wait, this is what happens right now, the last job that was processed will be at the top of the list (page 1).
 I see that in you images, the first job is at page 6 (which makes sense)

Ignore my previous comment, it is not correct.

[2021-08-12 06:19] Jivings commented on #316
Right now the most recent job (added at 15:56:25 today) is on page 6. The oldest job (added at 08/10 17:55:06 - 4 days ago) is at the top of page 1. When you open the queue, page 1 is shown first so I have to click on page 6 and scroll down to the bottom see the most recent job that was processed.

[2021-08-12 06:38] felixmosh commented on #316
Sorry for the inconvenience, I will revert my change.

[2021-08-12 06:40] felixmosh commented on #316
Released in `v3.5.2`

[2021-08-12 06:40] #316 closed

[2021-08-12 11:48] Jivings commented on #316
Thanks so much 🙏

[2021-08-13 14:29] mdgozza commented on #294
Hi @felixmosh

I ran into this issue as well. It appears the only proper way to remove repeatable jobs is to use the `removeRepeatable` methods
https://github.com/OptimalBits/bull/blob/master/REFERENCE.md#queueremoverepeatable

I simply wrote something like this to fix my inconsistent state:

[code]
Also, on a side note: I think distinguishing delayed from repeating tasks would be kinda neat.

In

[2021-08-14 05:44] felixmosh commented on #294
Thank you for the explanation, I'll review a possible solution soon 🙏🏼

[2021-08-17 08:06] felixmosh commented on #316
@Jivings, I think that `waiting` list should be sorted asc.

WDYT?

[2021-08-18 10:05] Jivings commented on #316
I think since it's FIFO it makes sense to be in desc order, but I get that it might mean the waiting list keeps changing quite rapidly which is not ideal. I think there's not an easy answer, but whichever way they are sorted we should definitely make it clear in the UI - that solves part of the problem.

Perhaps the next step would be to allow the implementer to determine which order they want whe

[2021-08-18 11:06] felixmosh commented on #316
Maybe it is better to expose a config UI for the queue, so you will able to change the default behavior (it can be part of the dots menu of a queue)

Thank you for the response.

[2021-08-19 11:06] Jivings commented on #316
I have hundreds of queues, so maybe a global behaviour would be good as well, rather than just per queue.

[2021-08-24 15:01] hawm3d commented on #303
@asomethings
[code]

[2021-08-25 07:39] henrikmaa opened #318 "Improve getting started docs"
code snippet in readme is not working out of the box.

after some digging i found this was missing: (from express example)

`const serverAdapter = new ExpressAdapter();`

[2021-08-25 09:56] felixmosh commented on #318
![Screenshot_20210825-125053](https://user-images.githubusercontent.com/9304194/130769447-332b15ab-e314-4ea4-aa4d-4ec9f83f400e.jpg)
I do see it :)

[2021-08-25 09:58] henrikmaa commented on #318
damn, my bad. Not sure how it is possible to overlook this

[2021-08-25 09:58] #318 closed

[2021-08-26 08:35] henrikmaa opened #319 "Cant run develop"
After running yarn && yarn start:dev it does not compile.

Tried to delete node_modules and yarn.lock and reinstall no luck

`[1] [ERROR] 10:21:58 ⨯ Unable to compile TypeScript:
[1] example.ts(5,31): error TS2307: Cannot find module '@bull-board/api/dist/src/queueAdapters/bullMQ' or its corresponding type declarations.
[1] example.ts(6,29): error TS2307: Cannot find module '@bull-board/api/dist/s

[2021-08-27 08:00] #319 closed, assigned to nobody

[2021-08-29 17:15] sbarzaghialteaup opened #320 "After pause or resume the page is stucked"
Hi,

Referring to pause and resume: https://github.com/felixmosh/bull-board/issues/214
After pressing pause or resume I can see the popup for confirmation, the queue get paused or resumed but the page get stucked.

For example I paused the queue "{null}-alert-error-tor" and then pressing on the queue "...external-notification" (or everything else) nothing happens:
![image](https://user-images.gith

[2021-08-30 05:26] Israel002 commented on #29
@felixmosh I cannot install `v3.0.0` the highest on npm is `2.1.3`. Please can you push the latest version to npm. Thanks in advance.

[2021-08-30 05:30] felixmosh commented on #29
Pay attention to the fact that we started to release under @bull-board scope ;)

[2021-08-30 05:46] Israel002 commented on #29
Oh, I didn't notice that. Thanks.

[2021-08-30 06:45] felixmosh commented on #320
Thank you for reporting this issue 🙏🏼

Can you open the dev tools and check if there is any error in the console?

[2021-08-30 07:54] sbarzaghialteaup commented on #320
No messages in console.

I temporary published this url:
https://ghsrrfkiujqpdofyxhqf.cfapps.eu10.hana.ondemand.com/jobs-monitor

It's a sandbox, you can try to pause and resume as you want.

[2021-08-30 08:26] felixmosh commented on #320
Confirmed, thank you, some weird bug with radix-ui.

I'll investigate it.

[2021-08-30 08:27] sbarzaghialteaup commented on #320
Thanks, can I remove the url?

[2021-08-30 08:32] felixmosh commented on #320
Yeap

[2021-08-30 08:41] sbarzaghialteaup commented on #320
Removed, let me know how I can help, I'm glad to contribute to it.

Thank you
Sam

[2021-08-30 09:08] #320 closed

[2021-09-05 19:40] ibrahim-cdprc opened #322 "ERROR : this.queue.client.info is not a function"
`GET /api/queues?page=1`
[code]
[code]

[2021-09-06 06:59] felixmosh commented on #322
Hi, Thank you for reporting this issue 🙏🏼

I can't reproduce the issue with a standard setup, can you elaborate on your setup?

[2021-09-06 14:52] aakashlpin commented on #322
Facing the same issue. While everything works great locally when pointing to local redis (```redis://127.0.0.1:6379```), it doesn't work with production redis which requires a ```tls``` connection - ```rediss://<username>:<password>@host:port```

[2021-09-06 15:00] felixmosh commented on #322
@aakashlpin by "it doesn't work with production redis" do you mean that you get `this.queue.client.info is not a function` error?

[2021-09-06 15:32] aakashlpin commented on #322
@felixmosh yep. Exactly what I meant. Essentially, what seems like is that it's not possible to connect to secure redis via ```bull```. I use ```bullmq``` in production that connects to same ```rediss://``` endpoint and that works all good.

I haven't used ```bull``` so I might be misinformed, but atleast it doesn't work with bull-board which requires instance of ```bull``` to be supplied to the `

[2021-09-07 06:39] felixmosh commented on #322
Without any details it is hard to guess the reason for this.
If bull doesn't connect to the end point, it is not related to bull-board.

Btw, bull-board supports bullmq out of the box, just change the adapter

[2021-09-07 11:40] joshbenaron opened #323 "Internal server error when manually retrying a delayed job"
Hey,

I have a job delayed upon a 3rd attempt. I press retry on the job in the delayed section and then I get an internal server error

![image](https://user-images.githubusercontent.com/73971531/132338591-cbb463d4-e5fb-4f20-88f1-259f5b6c0617.png)

[2021-09-07 11:50] felixmosh commented on #323
Can you open the console and check what is the entire error?

Can you give a reproduction steps?

[2021-09-08 12:50] jpalumickas opened #324 "Allow to add auth to @bull-board/fastify"
Currently there is no easy way to add auth to @bull-board/fastify. It would be nice to provide custom handlers/hooks to routes with plugin.

[2021-09-08 14:39] felixmosh commented on #324
What would be the best implementation? allowing to pass `preHandler`?

[2021-09-08 16:28] felixmosh commented on #324
Check the `fastify-with-basic-auth` example that I've added.

https://github.com/felixmosh/bull-board/tree/master/examples/with-fastify-auth

[2021-09-09 07:07] felixmosh commented on #324
I've added cookie based auth to the same example.

[2021-09-09 10:54] jpalumickas commented on #324
@felixmosh previously I had made like this, but if I go to dashboard url before login url, I get this error:

[code]

[2021-09-09 11:47] felixmosh commented on #324
This error doesn't related to bull-board, (afaik)
https://github.com/fastify/fastify-basic-auth/issues/11

[2021-09-13 10:29] felixmosh commented on #324
@jpalumickas, Did you able to fix this?

[2021-09-13 10:31] jpalumickas commented on #324
Hey,

Still having same problem. Maybe auth plugin should be in same scope as board? 🤔 This is not very big problem, because it's for admins, but still curious how to solve the issue.

[2021-09-13 17:42] felixmosh commented on #324
I've updated the example, now it handles errors properly.

Let me know if this solves the issue and I can close it.

[2021-09-15 16:23] felixmosh commented on #323
@joshbenaron ping?

[2021-09-17 08:00] slidenerd opened #325 "How to setup with VueJS/NuxtJS"
Vue and Nuxt use a router to manage UI
how do I load these pages using that router?
Currently I am opening the dashboard in a separate tab with a link

[2021-09-17 11:49] felixmosh commented on #325
I'm not familiar with Nuxt but, but looks like you can provide it a [custom server](https://github.com/nuxt/nuxt.js/blob/2ec62617ced873fef97c73a6d7aa1271911ccfd5/examples/custom-server/server.js) like `express`.

So you can use `ExpressAdapter` in order to mount bull-board to `express`

[2021-09-21 13:28] djdmbrwsk commented on #323
Getting this error too, console says:
[code]

[2021-09-21 13:46] felixmosh commented on #323
@djdmbrwsk can you elaborate what do you get on the server side / client side?
How I can reproduce the issue?

[2021-09-21 14:42] felixmosh commented on #323
So the bug is in the UI, the retry button should appear only on `failed` tab

[2021-09-21 14:46] djdmbrwsk commented on #323
That would be the simple fix, but I think it could be interesting to allow users to execute a delayed job immediately too. Useful for this scenario, but unsure of other scenarios...maybe too dangerous.

[2021-09-21 14:49] #325 closed

[2021-09-21 14:51] felixmosh commented on #323
@djdmbrwsk thank you for the explanation 🙏🏼

[2021-09-21 15:28] felixmosh commented on #323
Delayed jobs has promote button for this

[2021-09-21 15:39] djdmbrwsk commented on #323
Interesting! I thought I saw a PR for this, but didn't notice it in the UI...

[2021-09-23 12:01] jpalumickas commented on #324
Hey @felixmosh ,

New example working as expected, thanks 🤩

[2021-09-23 12:01] #324 closed

[2021-09-23 18:06] felixmosh commented on #322
Ping

[2021-09-24 02:33] atom077 opened #330 "It does not turn the page when querying jobs of queue, only return 10 jobs each time"

[2021-09-24 05:09] felixmosh commented on #330
Sorry, I can't help without the minimal info from tour side.

What version of bull-board?

[2021-09-24 05:15] atom077 commented on #330
2.0.3

[2021-09-24 05:36] atom077 commented on #330
How do I query more jobs with status in Bull Dashboard

[2021-09-24 08:40] felixmosh commented on #330
Install the latest version (v3.x) it has pagination feature built in

[2021-09-24 08:40] #330 closed

[2021-09-25 07:08] atom077 commented on #330
Can not install bull-board@3, its latest version is 2.1.3 with npm

[2021-09-25 07:09] atom077 commented on #330
Can not install bull-board@3, its latest version is 2.1.3 with npm

[2021-09-25 15:31] felixmosh commented on #330
Read the docs, v3 was moved to [`@bull-board`](https://www.npmjs.com/org/bull-board) npm scope

[2021-09-28 09:10] derN3rd opened #331 "[Feature Request] Support for Queues with same name"
Hey there,

Currently there is no support for queues with the same name and if you add two queues with the same name it will just use the latest of it.
I have the case where I have a production, staging and testing environment but can't add all queues of it to bull-board.

Other bull UIs have solved this by allowing a prefix or folder where the queues can be added.

[2021-09-28 09:14] derN3rd opened #332 "[Feature Request] Pause auto-refresh"
When debugging or investigating data it's a bit annoying when the site refreshed every 5s.
This could be an addition to #207 so we can just manually stop the refresh

[2021-09-28 10:21] felixmosh commented on #331
An interesting idea, I will explore a possible solution for it.

[2021-09-28 10:24] felixmosh commented on #332
What version of bull-board are you use?
At the latest version, there is no #207 bug any more.

[2021-09-28 10:27] derN3rd commented on #332
The latest.

I don't think its buggy, but I just like to have a set of i.e. active jobs visible and search something about them in another tab without them being removed after a refresh.
All other tools I use, i.e. Grafana have the option to disable auto-refresh as it can be distracting or just gives the user more control over the software

[2021-09-28 10:43] #331 closed

[2021-09-28 10:45] felixmosh commented on #331
Released at `v3.6.0`

[2021-09-28 10:52] felixmosh commented on #332
Feature details:
![image](https://user-images.githubusercontent.com/9304194/135073857-e089d6e6-5ddc-4aaf-b14a-e48bad375a0c.png)

[2021-09-29 20:46] marcoacevey commented on #303
You tried to add basic auth on this aprocah on nest js?

[2021-10-01 17:27] luco opened #335 "TypeError: Cannot read property 'name' of undefined"
Guys, I'm getting this error.
Thoughts?

[code]

[2021-10-01 17:28] #335 closed

[2021-10-01 21:33] felixmosh commented on #335
What was the issue?

[2021-10-13 07:17] h3ku commented on #45
Is anyone still working on this?

[2021-10-28 13:19] theoscat opened #340 "Auth with Hapi"
Hello,

I'm trying to implement your package with hapi.
It's quite easy to plug but i cant find anything related to auth.
Am i missing something ?

here's my versions
`    "@bull-board/api": "3.6.0",
    "@bull-board/hapi": "3.6.0",
    "@hapi/hapi": "20.1.0",
 `

Would love to use a basic authentication strategy (hapi basic exemple).

Regards,

Theo

[2021-10-28 14:20] aislanmaia opened #341 "Project is dead?"
Looking into [npm bull-board page](https://www.npmjs.com/package/bull-board) we have the message: `2.x is no longer supported, we moved to use @bull-board scope`

Is this project dead?
Where we can found the `@bull-board scope` thing ?

[2021-10-28 17:29] #341 closed, assigned to nobody

[2021-10-29 15:55] #340 closed, assigned to nobody

[2021-11-01 01:31] mtdewulf commented on #303
I couldn't get the above examples to work with my setup, so I thought I'd paste what I got to work in case anyone else is in the same boat.

My versions:

[code]

My Controller:
[code]

And the relevant part of `QueuesManagerService`, which initializes bull-board.  Note that `initBullBoard` is called as part of `onModuleInit`:

[code]

The odd thing is that `serverAdapter` is told the base path, a

[2021-11-02 09:15] theoscat commented on #340
Thanks a lot !

[2021-11-05 17:37] maclockard commented on #266
Just throwing in it would be nice to also be able to manually queue jobs using bull-board.

bull-board already supports promoting jobs, but being able to use it to also add jobs would really help tighten the debug loop when using this UI.

[2021-11-12 17:38] fireridlle opened #344 "Show delay for retried job"
I have a custom backoff strategy for retries which return different delays for different errors.
Is it possible to show `delay` or when a job will be moved to waiting?

[2021-11-12 18:19] felixmosh commented on #344
Hi, can tou elaborate?

[2021-11-15 21:15] felixmosh commented on #344
@fireridlle ping?

[2021-11-16 06:35] PengWeibin-Mars opened #345 "TypeError: undefined is not an object (evaluating 'm.queues.map')"
![image](https://user-images.githubusercontent.com/84702092/141933767-20fd130c-ec2f-4c08-832f-fb68a25a4bd3.png)
This problem occurred after I deployed it on the server
It is normal in the local environment, and the code is the same

[2021-11-16 06:37] PengWeibin-Mars commented on #345
@felixmosh Do you have any good suggestions

[2021-11-16 08:18] PengWeibin-Mars commented on #345
const express = require('express')
const { createBullBoard } = require('@bull-board/api')
const { ExpressAdapter } = require('@bull-board/express')
const QueueTool = require('./src/server/queue/queue-tool')

async function run(listenOpts = {}){

  const queues = await QueueTool.getQueues('bull:*:id')

  const serverAdapter = new ExpressAdapter();

  createBullBoard({
    queues,
    serverAdapter:

[2021-11-16 08:39] PengWeibin-Mars commented on #345
And when I debug locally, the monitoring list is empty. I wonder if it is caused by the empty monitoring list.

[2021-11-16 08:40] PengWeibin-Mars commented on #345
async function setQueues(pattern){
    const queueNames =  await getQueueNames(pattern)
    const queues = [];
    for (let i = 0; i < queueNames.length; i++) {
        const queue = new Queue(queueNames[i])
        queues.push(new BullAdapter(queue))
    }
    return queues
}

[2021-11-16 08:40] PengWeibin-Mars commented on #345
The above is the code logic of queues in createBullBoard
Is there a problem with me writing like this

[2021-11-16 08:43] PengWeibin-Mars commented on #345
![image](https://user-images.githubusercontent.com/84702092/141951892-5239285d-9cdf-4da7-bf71-d6e0ee541a84.png)
There is data in the queue, but it is not updated on the monitoring page

[2021-11-16 09:24] PengWeibin-Mars commented on #345
[test-monitor.zip](https://github.com/felixmosh/bull-board/files/7545000/test-monitor.zip)
@felixmosh  This is my code logic. It is normal to do this before, but suddenly it is wrong and the monitoring list cannot be displayed.

[2021-11-16 09:52] felixmosh commented on #345
The code of `setQueues` looks OK to me...

What is the error that you get on the server side?

[2021-11-17 05:47] PengWeibin-Mars commented on #345
@felixmosh  I found that I will report an error when I use the BullAdapter function
![image](https://user-images.githubusercontent.com/84702092/142141935-c190bf33-9e1c-4d17-8b9a-e2ddb93e8b13.png)
![image](https://user-images.githubusercontent.com/84702092/142142136-6cf2b00c-283a-4631-89d8-67aedbde696e.png)

[2021-11-17 08:05] felixmosh commented on #345
@PengWeibin-Mars I dont understand from what you write, if the problem is on the server (you posted that the server returns 503) so what is the error on the server?

If there is a server error, the client will throw many errors since it doesn't so resilient.

If you want to chat instantly, you can reach out on twitter @felixmosh, and we will setup an online meeting.

[2021-11-19 12:42] luco commented on #100
I mean, pause the queue and remove all jobs on queue.

[2021-11-24 08:04] PengWeibin-Mars commented on #345
Hi @felixmosh  This problem has been solved both locally and on the server
I just add RedisUrl when I initialize the Queue
I don't know why RedisUrl was added suddenly

async function setQueues(pattern){
    const queueNames =  await getQueueNames(pattern)
    const queues = [];
    for (let i = 0; i < queueNames.length; i++) {
        const queue = new Queue(queueNames[i], 'redisurl')
        que

[2021-11-24 08:27] felixmosh commented on #345
Glad to hear it solved.
Can we close this?

[2021-11-24 08:42] #345 closed

[2021-11-25 07:54] PengWeibin-Mars opened #346 "login prompt login information"
Hey @felixmosh
I want to add a prompt that the password is entered incorrectly on the login page, but I have tried multiple methods without success. Do you have any good suggestions?

[2021-11-25 14:48] felixmosh commented on #346
Did you used the express auth example?

[2021-11-26 02:20] PengWeibin-Mars commented on #346
I used the express auth example function and it works normally
But I want to give a friendly prompt when the user enters the wrong account or password

[2021-11-26 02:22] PengWeibin-Mars commented on #346
I used the res.send() and res.json() functions and did not get the desired result

[2021-11-26 10:02] felixmosh commented on #346
It is mot related to bull-board,  we should read on how to pass failure to the view with passport

[2021-11-26 10:19] felixmosh commented on #346
Read this docs https://www.passportjs.org/docs/downloads/html/

You can redirect with query string, which will render the error.
Or provide custom callback, (check in docs)

[2021-11-30 21:28] henrysachs opened #347 "Problems with NX and NestJS in Production"
Hey There I've integrated bull-board with nestjs and I'm using nx to manage my monorepo. I got this working locally with a NestJS Middlleware implementing Bull-Board and everthing seems fine. This is my Middleware:

[code]

But as soon as i'm deploying it to a Docker container the Api routes dont seem to register anymore i get the UI and so on but its Stuck on loading...

when opening the network

[2021-11-30 23:09] yaro90 opened #348 "useInterval can cause problems if response is slower than 5000"
Hi,
Thanks for this very useful project, its a great idea. However I started to see a problem when my queue grew in size. Bull-board response dropped to around 30 sec to populate jobs which is still acceptable but the problem is that due to the use of setInterval at 5 sec for polling the page starts to hang after 2 min and also the backend gets stressed as requests pile up faster than they can com

[2021-12-01 05:01] felixmosh commented on #348
Hi, thank you for reporting the issue.

There are several possible ways to solve it:
1. Add polling timing config as suggested in #332
2. Change interval usage to settimeout, it was like this, and interval solved some other issue, need to be checked.

[2021-12-01 09:11] felixmosh commented on #347
Try to setup your bull-board like it was setup in here:
https://github.com/felixmosh/bull-board/issues/303#issuecomment-881577152

[2021-12-01 10:53] yaro90 commented on #348
1. Pause auto-refresh or configurable refresh time is a good feature but it would not solve properly the response being slower than request interval, we don't know how long the response would take so its a guess that you pick interval long enough.

2. I've had a look at what you had there before and it looks like people complained that the UI was re-rended after refresh. I mean if the backend stat

[2021-12-01 11:25] yaro90 commented on #348
Another observation I've had which may be contributing to my slow response time is that if you have many queues, like in my case lets say 10. Every time I visit a different queue, it gets added to the update poll, so the poll grows in size as we're polling more and more queues in the same request. I believe only the queue that is being currently viewed is what should be polled for updates.

[2021-12-01 11:29] felixmosh commented on #348
I'll more than happy to review a PR which will solve it.
Instead of using multiple `setTimeout` we can add a check of the "activeQueue" and ignore response of a different one.

[2021-12-01 11:52] yaro90 commented on #348
Unfortunately, I won't be able to do the PR as I'm only free today and I think it will be a rewrite of a good chunk of the project which would take some time. I think i will just do a quick local patch to switch to `setTiemout` or keep `setInterval` and use a flag to ignore tick if update is still running.

The problem is that I don't think its avoidable to use multiple `setTimeout` as using a sin

[2021-12-01 12:03] felixmosh commented on #348
I've tried to mimic a long response time from the API, it feels that the app is stuck, we will need to indicate that something is happing.

As you've wrote, it probably will require a big change, currently I don't have time for it.

[2021-12-03 14:24] henrysachs commented on #347
i still receive the same error.

[2021-12-03 16:40] felixmosh commented on #347
Show some code pls :]

[2021-12-03 16:43] henrysachs commented on #347
[code]

But I think it could also be Loadbalancer related.

[2021-12-03 16:50] felixmosh commented on #347
The setup of `bull-board` looks OK to me.

[2021-12-03 16:55] henrysachs commented on #347
What is weird for me is that the webui is loading but is stuck at 'loading...' because the api requests wont be served.

[2021-12-03 16:56] felixmosh commented on #347
what do you see in the console?

[2021-12-04 09:35] bugs181 opened #349 "Feature Request: Extract data from job to use as job Title"
A few versions back, I was "abusing" the named job parameter to have better titles on the dashboard. After upgrading to the latest; when named jobs are used we get the lovely "Missing process handler" error. I'll try working on a PR to add support to make this a little more generic which can be useful for other cases.

Original named jobs method that I was abusing to accomplish this goal:
[code]

[2021-12-04 10:30] felixmosh commented on #349
Did you tried `options.prefix` ? I think that it's exactly what you need :]

[2021-12-04 12:50] bugs181 commented on #349
Perhaps my wording wasn't clear or I am misunderstanding the use of prefix. I need the job titles to be unique per job. I was under the impression, the prefix is just static and used for all jobs. Am I incorrect?

[2021-12-04 16:41] felixmosh commented on #349
Yes, you are correct.

Can you explain what do you want?

[2021-12-05 06:09] pnlinh-it commented on #347
@henrysachs  I face that issue. Use

[code]

instead of

[code]

[2021-12-05 18:47] joryhatton opened #350 "Block search indexing"
I want to use this in an admin portal. There should be search index blocking by default or at least as an option in the UI HTML.

[code]

[2021-12-05 18:52] felixmosh commented on #350
Sounds reasonable, can you prepare a PR with it? :]

[2021-12-05 18:58] joryhatton commented on #350
Sure thing.
https://github.com/felixmosh/bull-board/pull/351

[2021-12-06 07:05] #350 closed

[2021-12-06 07:31] felixmosh commented on #350
Thank you 🙏🏼

Released in `v3.7.2`

[2021-12-07 08:42] bugs181 commented on #349
The easiest explanation would be something along the lines of this:

[code]

I understand that example may still be confusing due to the above example, should have different queues - BUT it's just an example. I have a case where all jobs are the same type, but I want the titles to be unique at the time of adding them.

[2021-12-07 10:38] felixmosh commented on #349
@bugs181 , I think that you've got confused, `bull-board` is a dashboard for your queues, It currently doesn't allows to add jobs to the queue, it only reflects it's data.

If you are using `bull` you can create a [job with a name](https://optimalbits.github.io/bull/#named-jobs) (which will be reflected on the dashboard).

if you are using `bullmq` you can create a job with a name like so: https:/

[2021-12-07 12:43] sambhav2612 opened #357 "Bull Board UI stuck on "Loading" and request timing out"
Hi, we have been looking for something to monitor our Bull Queues for quite some time, came around this just about a week back.

We use Nest.js for the backend and going through the repo I found [this](https://github.com/felixmosh/bull-board/issues/303#issuecomment-883524947) comment specific to our use case, which unfortunately didn't pan out as we thought.

1. The UI is just stuck at `Loading...

[2021-12-07 15:30] felixmosh commented on #357
Thank you for opening this issue.

Do you know your queue names up front? if so, the solution that You've used is over complicated.
Check this example:
https://github.com/felixmosh/bull-board/issues/303#issuecomment-881577152

[2021-12-07 17:50] sambhav2612 commented on #357
@felixmosh @AgentSource hey guys, if you can perhaps help us with this issue, it would be really amazing

[2021-12-07 18:14] sambhav2612 commented on #357
@felixmosh tried the mentioned fix in comment, getting new error:

Code:

[code]

[2021-12-07 18:21] sambhav2612 commented on #357
@felixmosh getting new error after changing the code to the fix mentioned in the comment:

[code]

Code:

[code]

[2021-12-07 18:35] felixmosh commented on #357
@sambhav2612, this error doesn't related to `bull-board`.
You are using Typescript, and probably, your [`esModuleInterop`](https://www.typescriptlang.org/tsconfig/#esModuleInterop) is **off**.

Try to change this import to:
[code]

[2021-12-07 18:52] sambhav2612 commented on #357
@felixmosh still getting same `Loading...` and request timeout on UI

[2021-12-07 18:54] sambhav2612 commented on #357
@felixmosh got it working after restarting my redis server, thanks a ton !!

[2021-12-07 19:01] felixmosh commented on #357
Can we close this issue?

[2021-12-07 19:16] #357 closed

[2021-12-08 04:35] bugs181 commented on #349
Unfortunately, I think there's a language barrier here. I'm fully aware of what bull-dashboard is. Displaying job data is exactly the purpose of the bull-board. Named jobs do not fulfill this purpose. I believe that a more generic approach, allowing users to dive into the job data to retrieve specific data for their job title on bull dashboard is important.

Pictures are worth a thousand words, so

[2021-12-08 05:21] felixmosh commented on #349
Ok, I think that i get it, what is your use case for this feature?

[2021-12-08 07:39] bugs181 commented on #349
Many more use cases than the one example above. Running a custom `getTitle` function would make this feature request more generic so it fits all my use cases and then some.

By using an `option` we can detect this `option` in `queues->formatJob` and override the `name` property.

A proposal example could be useful here:

[code]

Example titles could be different job data exposed for staged environ

[2021-12-08 08:17] felixmosh commented on #349
We do have a built in formatters pattern that applies only on `data` & `returnValue` job props.

If I will add a support for formatting the `name` prop, will it help your use-case?

So, you will able to pass a formatter for the `name` field like so:
[code]

WDYT?

[2021-12-08 08:24] bugs181 commented on #349
Your proposed solution could work. Not sure what other implications there are of formatting the data, though. It might be tricky to evaluate where the data came from if it modifies the `data` object in the dashboard, however. With my proposed solution, and PR #358 - we know exactly how the formatting happens and that it's only purpose is for display.

[2021-12-08 08:27] felixmosh commented on #349
I don't agree, we are already have the concept of formatting other fields on the `job` object, `name` is one of them.
And it is better to follow the same convention instead of creating a new one.

[2021-12-08 08:31] bugs181 commented on #349
I think I see one more issue with `someQueueAdapter`. Will the formatter be applied to all queues or just the one? The reasoning this couldn't work for my use-case is when I have a dashboard where titles are very specific to the queue flow.

[2021-12-08 08:35] felixmosh commented on #349
1. Formatters are queue based
2. Formatters are existing pattern
3. It is a matter of code style, you don't like mine and I don't think that yours is much better :]

If it solves your issue, I will make a PR, if you want to help, It will be faster, but I do want to continue the same existing pattern.

[2021-12-08 08:38] bugs181 commented on #349
That's acceptable. Code style aside, to each their own. No complaints here either way as long as we can accomplish the same task. I had a look at `setFormatter` but couldn't see how this would be applied to the `name` property. I'm largely unfamiliar with the code base right now. I'll keep taking a swing at it; but I have doubts I'll be able to make it work with my limited knowledge of the code.

[2021-12-08 08:39] felixmosh commented on #349
No problem, I will make a PR. :]

[2021-12-08 08:42] bugs181 commented on #349
Doh! Silly me. I was over-complicating it.

This should do the trick:
`name: queue.format('name', jobProps),`

Unless you see something I missed, I'll revert the PR and apply this patch.

[2021-12-08 08:49] #349 closed

[2021-12-08 08:49] felixmosh commented on #349
Yeap,

Yeap :]

[2021-12-08 08:50] bugs181 commented on #349
Thanks so much for your help! This looks great!

[2021-12-08 09:02] felixmosh commented on #349
Thank you for you patience

[2021-12-08 09:11] felixmosh commented on #349
Released in `v3.8.0`

[2021-12-08 10:33] felixmosh commented on #322
Ping

[2021-12-13 03:13] PengWeibin-Mars commented on #346
I used the method in the document to integrate into the bull-board to respond to the error message but it did not take effect

[2021-12-13 05:02] felixmosh commented on #346
Can you prepare an example repo?

[2021-12-14 07:29] augusto-joecoffee opened #360 "FEATURE REQUEST: next run at for Repeatable jobs"
It would be great if we could see the `next run at` for repeatable jobs .
Taskforce Dashboard has an example of this

[2021-12-14 07:35] felixmosh commented on #360
Can you elaborate? give images from the other dashboard?

[2021-12-27 14:19] pedropuppim opened #361 "Feature: Add search for data"
Congratulations on your work, this Feature would be great.

### Search for jobs data:
![This is an image](https://i.imgur.com/VjVhLnP.png)

[2022-01-09 15:48] m-doi2 opened #362 "Rendering error due to abnormal API response (/queues)"
There is a problem with the API response for `/queues`.

![image](https://user-images.githubusercontent.com/6340506/148689576-d0363754-c1c6-4c16-9874-38603619d945.png)

This seems to cause an error while rendering by React.

I think this commit is the cause of the problem.
https://github.com/felixmosh/bull-board/commit/b30647767de50953b6acc9f8acfd65c67db5b1bb

[code]

[2022-01-09 15:57] felixmosh commented on #362
Thank you for reporting this issue, I'll review the issue asap 🙏🏼

[2022-01-09 17:00] felixmosh commented on #362
I've checked the code,
[code]
is the correct invoke.

Looks like you've set a `nameFormatter` which gets the entire **job object** and must return a **string** (in your case it looks like it returns the entire job object itself).

Look for a code that looks like:
[code]
If you have such thing, you can remove it, or change the formatter function (`(job) => job`) so it will return a **string**.

Let

[2022-01-10 03:34] augusto-joecoffee commented on #360
Hey sorry for the delay on this.
I'll update the issue with examples tomorrow.

[2022-01-10 09:35] m-doi2 commented on #362
Thanks for your advice!
And I apologize for my lack of research💦

I wasn't using setFormatter, but for some reason the job name was being judged as undefined.
So, the default parameter value of BaseAdapter#format was enabled, and as a result, name was set to the object of jobProps as it is.

I'm going to do some more research on the cause of this.

Thank you!

[2022-01-10 09:35] #362 closed

[2022-01-10 17:27] rtroncoso opened #363 "[Feature Request]: "Play once" for delayed jobs"
Wanted to know if it's possible to add a "Play once" (name suggestions open) button for delayed jobs, similar to the "Promote" (https://github.com/felixmosh/bull-board/issues/136) feature, but with the difference that it should not interfere with the already delayed job (i.e. a cron execution at a certain time).

Right now when you try to promote a delayed job with a `repeat.cron` set in options t

[2022-01-11 02:49] ccollie commented on #360
From a side project:

![Screenshot 2022-01-10 at 21-46-51 Alpen App](https://user-images.githubusercontent.com/178021/148872480-be118c3a-9a86-4a73-b5ac-fe61538e04dc.png)

[2022-01-11 08:12] felixmosh commented on #360
I've change the label in the delayed tab to, `will run at`.

![image](https://user-images.githubusercontent.com/9304194/148904894-6d0f45a0-ff73-4ec1-885f-fa5ca594173e.png)

And added the repeat counter if exists.

Will this solve the issue?

[2022-01-11 08:28] felixmosh commented on #363
An interesting idea, I think that it is possible, by cloning the given job, and adding it without any delay options.

[2022-01-11 16:24] rtroncoso commented on #363
@felixmosh yup, definitely think that would be great and fit all use cases and even leave room for more advanced ones (maybe override job data, custom delay, etc)!

[2022-01-11 17:36] yannicktian commented on #266
We would also really appreciate this feature! Having the ability to add job to queues is extremely useful
Here is my use case :

A sendEmail job failed in production due to incorrect payload.
I have corrected the payload and would like to run the job with the fixed payload via bull-board

[2022-01-12 09:29] sergeyampo opened #364 "Fastify example doesn't work"
Fastify example doesn't work. I was unable to find a reason but it doesn't work at all, also you don't have a fastify dependency in a package.json.

[2022-01-12 09:45] felixmosh commented on #364
You are correct, it should have `fastify` in the `package.json`.
Except that, what is the error that you get?

[2022-01-16 14:48] datge opened #366 "Redis docker support"
How can i define a custom redis host?
my redis instance is running inside a docker container, is not exposed on localhost, so the bull-board stays on 'Loading...'

[2022-01-16 15:00] #366 closed

[2022-01-16 16:13] zachweinberg opened #367 "Server not serving .js file to browser"
Hi there,
I'm using the Express adapter and the UI is stuck on a "Loading..." screen. The network console shows the minified .js isn't being served. Are there additional steps to take to serve this file manually or does the library take care of that?

Thank you!

<img width="1510" alt="Screen Shot 2022-01-16 at 11 12 52 AM" src="https://user-images.githubusercontent.com/39999870/149668023-3657d319

[2022-01-16 16:57] felixmosh commented on #367
Thank you for reporting this issue.
The lib should take care of serving its static files...

Can u share your setup?

Did you checked the express js setup in the examples folder?

[2022-01-16 17:22] zachweinberg commented on #367
@felixmosh Woops, found the issue - I was calling `setBasePath` twice by mistake. Thanks for the reply!

[2022-01-16 17:22] #367 closed

[2022-01-19 06:19] PengWeibin-Mars commented on #346
I still haven't solved the problem

[2022-01-19 06:21] felixmosh commented on #346
Can you prepare a small repo with your setup?
It will help me to understand the issue.

[2022-01-19 07:19] PengWeibin-Mars opened #368 "Queue is not dynamically updated"
![image](https://user-images.githubusercontent.com/84702092/150082571-2fe2a029-1977-4f06-8345-17bdfac183c8.png)
If my Queue is a dynamic list, it will not be updated, any good suggestions?